/* =====================================
   General Address Bar Mods
  ===================================== */
.UrlBar {
  display: grid;
  grid-template-columns: 172px 1fr auto 34px 1fr 134px;
}

.UrlBar > .toolbar-droptarget { order: 1; }

/* =====================================
   Extensions Bar 
  ===================================== */
#moved-extensions { margin-left: auto; }

#moved-extensions > div > button > span > svg > path { d: path("M15.486 18l.514-.469L11.026 13 16 8.469 15.486 8 10 13z"); }

#moved-extensions > div:nth-child(4) > button > span > svg { fill: var(--colorHighlightBg); }

.ExtensionIcon > button { min-width: 30px !important; }

#moved-extensions .button-toolbar > button > img { filter: grayscale(60%) contrast(100%) opacity(80%); }

#moved-extensions .button-toolbar > button:hover > img { filter: grayscale(0%) contrast(100%) opacity(100%); }

/* Callout arrows */
.extension-popup:before,
.extension-popup.top:after {
  right: 9px !important;
  border: 8px solid transparent !important;
  top: -17px !important;
}

.extension-popup.top:after { border-bottom-color: var(--colorBorder) !important; }

/* =====================================
   Reload Button 
  ===================================== */
#moved-reload { order: 1; }

#moved-reload svg {
  flex: 0 0 22px !important;
  width: 22px !important;
  height: 22px !important;
  margin-left: 4px;
  margin-top: 8px;
}

.button-toolbar > button[title="Reload current page"] svg path, .button-toolbar[title="Reload current page"] svg path {
  d: path("M14.997 6.063L15 1.409l-1.854 1.852-.203-.211A6.953 6.953 0 007.997 1C4.142 1 1 4.143 1 8c0 3.859 3.142 7 6.997 7 3.858 0 6.997-3.141 6.997-7h-1.355a5.647 5.647 0 01-5.642 5.645A5.648 5.648 0 012.355 8a5.647 5.647 0 015.642-5.641 5.6 5.6 0 013.989 1.65l.203.208-1.844 1.847 4.652-.001z");
}

.button-toolbar > button[title="Stop"] svg path, .button-toolbar[title="Stop"] svg path {
  d: path("M14 2.929L13.07 2 8 7.071 2.929 2 2 2.929 7.071 8 2 13.07l.929.93L8 8.93 13.07 14l.93-.932L8.932 8z");
}

/* =====================================
   Menu Button
  ===================================== */

.vivaldi svg {
  flex: 0 0 26px;
  height: 26px;
}

/* If using tabs on top, this will remove the space vacated by the menu button */
#tabs-container.top {
  margin-top: -4px !important;
  padding-left: 0 !important;
  margin-right: -95px !important;
}

/* =====================================
   Window Buttons
  ====================================== */

.toolbar-mainbar.toolbar-mailbar { padding-right: 138px; }

.toolbar-mainbar > *:last-child:not(.button-toolbar) { margin-right: unset; }

/* =====================================
   Status Bar
  ===================================== */

#browser.address-off #statusButton { display: none; }

#statusButton { margin-right: auto; }

#statusToggle:hover {
  background-color: var(--colorHighlightBgAlpha) !important;
  fill: var(--colorAccentFg);
}

#statusButton.active svg { fill: var(--colorHighlightBg) !important; }

#statusContainer {
  position: absolute;
  grid-area: 4/5;
  z-index: 1000;
  left: -3px;
  background-color: inherit;
  height: 34px;
}

.toolbar-statusbar .button-toolbar > button:hover, .toolbar-statusbar .button-toolbar > button.button-pressed {
  background-color: transparent !important;
  fill: var(--colorHighlightBg);
}

.toolbar-statusbar > .button-toolbar > button { padding-top: 1px !important; }

.toolbar-statusbar .button-toolbar > button:hover, .toolbar-statusbar .button-toolbar > button.button-pressed {
  background-color: transparent !important;
  fill: var(--colorHighlightBg);
}

.toolbar-statusbar {
  border: none;
  box-shadow: none !important;
  background-color: transparent !important;
  margin-top: 5px;
  padding: 0 4px;
}

.button-popup {
  bottom: unset !important;
  top: 32px;
  border-radius: 3px;
}

.button-popup-above.button-popup-arrow-light:before, .button-popup-above.button-popup-arrow-dark:before {
  transform: rotate(180deg);
  bottom: unset !important;
  top: -16px;
}

.button-popup-above.button-popup-arrow-light:before { border-top-color: var(--colorBg); }

.button-popup .button-popup-wrapper { height: fit-content; }

.button-popup h2 { text-align: center; }

.button-popup-wrapper { background-color: var(--colorBgDark); }

.button-toolbar > button > span + .button-title, .button-toolbar > button.button-textonly { padding-top: 2px; }

/* Status info overlay */
.StatusInfo {
  visibility: hidden;
  position: fixed;
  left: 8px;
  bottom: 2px;
  overflow: hidden;
  pointer-events: none;
}

.StatusInfo--Visible .StatusInfo-Content {
  visibility: visible;
  background-color: var(--colorAccentBg);
  backdrop-filter: blur(10px);
  opacity: 0.9;
  padding: 4px 7px;
  border-radius: 2px;
}

/* =====================================
   Panel Toggle
  ===================================== */
.UrlBar > .toolbar-droptarget .panel-clickoutside-ignore {
  margin-left: auto;
  transform: none !important;
  z-index: 5;
}

.button-toolbar.panel-clickoutside-ignore svg path { d: path("M19 10.513L18.438 10 13 14.973 7.563 10 7 10.513 13 16z"); }
  
.button-toolbar > button[title*="Hide Panel"], .button-toolbar[title*="Hide Panel"] > button {
  background-color: var(--colorHighlightBgAlpha);  
  fill: var(--colorHighlightBg) !important;
}