/* Removes header */
#header {
  min-height: 0;
  z-index: auto
}

/* Removes line under Addressbar */
.address-top .toolbar-addressbar:after, .address-top .toolbar-mailbar:after {height: 0 !important}

.address-top .toolbar-mainbar:after {display: none}


/* Toolbar buttons
  ----------------------------
*/
button {
  box-shadow: none !important;
  border-color: transparent !important
}

.toolbar.toolbar-noflex {left: 46px}


/* Addressfield
  ----------------------------
*/
.addressfield, .searchfield {
  border: 0 !important;
  outline: 0 !important;
  outline-offset: 0 !important;
  padding: 3px 0 3px 5px !important;
  max-width: 45vw;
  margin: auto !important;
  background-color: transparent !important;
  border-radius: 0 !important
}

.color-behind-tabs-on .addressfield {
  border-left: 1px solid var(--colorFgAlpha) !important;
  border-right: 1px solid var(--colorFgAlpha) !important
}

.addressfield form input.url {
  text-align: center;
  margin-left: 10px
}

.addressfield .pageload .pageload-ticker {display: none}


/* Addressfield icons
  ----------------------------
*/
#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large > div.addressfield > div.toolbar.toolbar-small.toolbar-insideinput > div.button-toolbar.cjui3pc65000i3q65ecrsq17h > button > svg > g > path.bookmark-outline {
  d: path('M14.051 3.176a4.026 4.026 0 0 0-5.687 0L8 3.54l-.363-.364a4.026 4.026 0 0 0-5.687 0C.414 4.711.405 7.146 1.927 8.838c1.389 1.543 5.485 4.878 5.659 5.019.118.097.26.143.401.143h.014a.605.605 0 0 0 .415-.143c.173-.141 4.27-3.476 5.658-5.019 1.522-1.692 1.511-4.127-.023-5.662zm-.924 4.81C12.044 9.19 9.068 11.671 8 12.552c-1.069-.881-4.044-3.362-5.127-4.565C1.811 6.807 1.8 5.125 2.85 4.076c.536-.535 1.24-.804 1.943-.804s1.407.268 1.943.804l.8.8a.612.612 0 0 0 .342.172.635.635 0 0 0 .585-.172l.801-.801a2.752 2.752 0 0 1 3.886 0c1.048 1.05 1.038 2.732-.023 3.911z')
}


#main>div.toolbar-addressbar.toolbar>div.addressfield>div:nth-child(4)>button>svg>g>path.permission-icon {
  d: path('M8 15c.771 0 1.4-.63 1.4-1.4H6.6c0 .77.631 1.4 1.4 1.4zm4.55-4.2V6.95c0-2.17-1.469-3.92-3.5-4.41v-.491C9.05 1.488 8.56 1 8 1s-1.049.488-1.049 1.049v.492c-2.03.489-3.5 2.239-3.5 4.41v3.85l-1.401 1.4v.7h11.9v-.7l-1.4-1.401zm-1.4.7h-6.3V6.95C4.85 5.2 6.25 3.8 8 3.8s3.15 1.4 3.15 3.15v4.55z');
  opacity: .8
}

.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput>.button-toolbar button:hover :not(:active):not(:focus):not(.button-pressed),
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput>.toolbar-group>.button-toolbar button:hover :not(:active):not(:focus):not(.button-pressed),
.toolbar .button-toolbar.reload:hover {
  background-color: transparent !important;
  fill: var(--colorHighlightBg) !important
}


/* Extensions
  ----------------------------
*/
.toolbar-mainbar > .button-toolbar.button-narrow > button svg path {d: path('M12 6v2h2V6zm0 6v2h2v-2zm0 6v2h2v-2z')}

.toolbar-mainbar > .button-toolbar.button-narrow > button svg {opacity: .4}

.toolbar-mainbar > .button-toolbar.button-narrow > button:hover {
  background-color: var(--colorAccentBgFadedMore) !important;
  fill: var(--colorAccentFg) !important;
  opacity: .7;
}

.toolbar-mainbar > .button-toolbar.button-narrow > button:hover svg {opacity: 1}

.button-toolbar.button-narrow {
  position: fixed;
  right: calc(50vw - 22.5vw - 35px);
  width: 34px !important
 }

.toolbar.toolbar-mainbar.toolbar-extensions.toolbar-large {
  background-color: var(--colorBgDarker);
  position: absolute;
  right: calc(50vw - 22.5vw);
  height: 30px;
  border-radius: var(--radius);
}


/* Miscellaneous stuff
  ----------------------------
*/
/* If using tabs on top, this will remove the space vacated by the menu button */
#tabs-container.top {
  margin-top: -4px !important;
  padding-left: 0 !important;
  margin-right: -95px !important
}
