/* Remove header */
#header {
    min-height: 0;
    z-index: auto;
}

/* Removes line under Addressbar */
.address-top .toolbar-addressbar:after, .address-top .toolbar-mailbar:after {height: 0 !important}


/* Menu
  ========================================
*/
.vivaldi { 
	top: 0;
	left: 0;
	z-index: 9999;
}

#browser .vivaldi span.burger-icon svg path {d: path('M0 2.2000004v1h18v-1zm0 6v1h18v-1zM0 14.2v1h18v-1z')}

#browser .vivaldi span.vivaldi-v, #browser .vivaldi span.burger-icon {
    height: 36px !important;
    width: 46px !important;
    padding: 9px 2px 0 4px !important;
    fill: var(--colorFg) !important;
    opacity: 1 !important
}

#browser .vivaldi span.vivaldi-v {padding: 7px 0 0 !important}

#browser .vivaldi:hover span.vivaldi-v,
#browser .vivaldi:active span.vivaldi-v,
#browser .vivaldi:hover span.burger-icon,
#browser .vivaldi:active span.burger-icon {
    background-color: var(--colorHighlightBg) !important;
    fill: white !important;
}

#browser .vivaldi:hover span svg, #browser .vivaldi:focus span svg {transform: scale(1) !important}

/* Horizontal menu icon */
.topmenu button.vivaldi-horizontal-icon {margin-left: -28px}


/* Addressfield
  ========================================
*/
.addressfield, .searchfield {
    border: 0 !important;
    font-weight: 400 !important;
    outline: 0 !important;
    outline-offset: 0 !important;
    padding: 3px 0 3px 5px !important;
    max-width: 45vw;
    margin: 5px auto !important;
    background-color: transparent !important;
    border-radius: 0 !important
}

.color-behind-tabs-on .addressfield {
    border-left: 1px solid var(--colorFgAlpha) !important;
    border-right: 1px solid var(--colorFgAlpha) !important
}

.addressfield form input.url {
    text-align: center;
    margin-left: 10px;
}

.addressfield .pageload .pageload-ticker {display: none}


/* Toolbar buttons
  ========================================
*/
.button-toolbar.rewind, .button-toolbar.back, .button-toolbar.forward, .button-toolbar.next, .button-toolbar.home {display: none}

.toolbar .button-toolbar {height: 36px !important}

.toolbar .button-toolbar:hover {background-color: var(--colorAccentBgFadedMore) !important}

.toolbar-addressbar .button-toolbar.toggle-extensions-group > svg path {d: path('M1 13h2v2H1zM1 7h2v2H1zM1 1h2v2H1z')}


/* Addressfield icons
  ========================================
*/
.add-bookmark-container > button.button-addressfield > svg path {d: path('M14.051 3.176a4.026 4.026 0 0 0-5.687 0L8 3.54l-.363-.364a4.026 4.026 0 0 0-5.687 0C.414 4.711.405 7.146 1.927 8.838c1.389 1.543 5.485 4.878 5.659 5.019.118.097.26.143.401.143h.014a.605.605 0 0 0 .415-.143c.173-.141 4.27-3.476 5.658-5.019 1.522-1.692 1.511-4.127-.023-5.662zm-.924 4.81C12.044 9.19 9.068 11.671 8 12.552c-1.069-.881-4.044-3.362-5.127-4.565C1.811 6.807 1.8 5.125 2.85 4.076c.536-.535 1.24-.804 1.943-.804s1.407.268 1.943.804l.8.8a.612.612 0 0 0 .342.172.635.635 0 0 0 .585-.172l.801-.801a2.752 2.752 0 0 1 3.886 0c1.048 1.05 1.038 2.732-.023 3.911z')}


#main > div.toolbar-addressbar.toolbar > div.addressfield > div:nth-child(4) > button > svg > g > path.permission-icon {
    d: path('M8 15c.771 0 1.4-.63 1.4-1.4H6.6c0 .77.631 1.4 1.4 1.4zm4.55-4.2V6.95c0-2.17-1.469-3.92-3.5-4.41v-.491C9.05 1.488 8.56 1 8 1s-1.049.488-1.049 1.049v.492c-2.03.489-3.5 2.239-3.5 4.41v3.85l-1.401 1.4v.7h11.9v-.7l-1.4-1.401zm-1.4.7h-6.3V6.95C4.85 5.2 6.25 3.8 8 3.8s3.15 1.4 3.15 3.15v4.55z');
    opacity: .8;
}

.button-toolbar.reload {
    order: 8;
    fill: var(--colorFgFaded) !important;
    margin-top: -8px;
}

.button-toolbar.reload svg {
    width: 19px;
    margin-left: -10px;
}

.button-toolbar.reload:hover {
    background-color: transparent !important;
    fill: var(--colorHighlightBg) !important
}


/* Window control button group
  ========================================
*/
#browser.win .window-buttongroup {
	top: 0;
	right: 0;
	z-index: 999;
}

#browser.win .window-buttongroup {right: 0 !important}

#browser.win .window-buttongroup button {
    height: 36px !important;
    width: 46px !important;
    opacity: .7;
}

#browser.win .window-buttongroup button:hover {
    background-color: var(--colorAccentBgFadedMore) !important;
    fill: var(--colorAccentFg) !important;
}

#browser.win .window-buttongroup button.window-minimize>svg path {d: path('M0 5h10v1H0z')}

#browser.win .window-buttongroup button.window-maximize>svg path,
#browser.win .window-buttongroup button.window-restore>svg path {d: path('M9 1v8H1V1h8m1-1H0v10h10V0z')}

.maximized#browser.win .window-buttongroup button.window-close, .fullscreen#browser.win .window-buttongroup button.window-close {padding-right: 0 !important}

#browser.win .window-buttongroup button.window-close svg path {d: path('M.71611758 0L0 .71414475 4.2868415 4.9990135.00197275 9.2838828l.71414483.7141446L5.0009863 5.7131583 9.2858555 10 10 9.2838828 5.715131 4.9990135 10 .71414475 9.2858555 0 5.0009863 4.2848688z')}

#browser.win .window-buttongroup button.window-close, #browser.win:not(.win10) .window-buttongroup .window-close {
    background-color: transparent !important;
    fill: var(--colorFg) !important;
    margin-right: -2px !important;
    opacity: 1 !important
}

#browser.win .window-buttongroup button.window-close:hover, #browser.win:not(.win10) .window-buttongroup .window-close:hover {
    background-color: var(--colorHighlightBg) !important;
    fill: white !important
}


/* Miscellaneous stuff
  ========================================
*/
/* If using tabs on top, this will remove the space vacated by the menu button */
#tabs-container.top {
    margin-top: -4px !important;
    padding-left: 0 !important;
    margin-right: -95px !important
}

/* This will adjust the header for the "Settings in a Tab" pop up window */
.popup .vivaldi-settings .settings-header {
    background-color: transparent !important;
    left: 150px !important;
    right: 150px !important;
}
