.panel-clickoutside-ignore.button-toolbar.panel-toggle {
    position: absolute;
    left: calc(50vw - 22.5vw - 36px);
    margin-top: 0;
    opacity: .3;
}

.panel-clickoutside-ignore.button-toolbar.panel-toggle:hover, .panel-clickoutside-ignore.button-toolbar.panel-toggle svg:hover {
    background-color: var(--colorAccentBgFadedMore) !important;
    fill: var(--colorAccentFg) !important;
    opacity: .8;
}

.panel-clickoutside-ignore.button-toolbar.panel-toggle.active {
    background-color: var(--colorBgDark) !important;
    fill: var(--colorHighlightBg);
    opacity: 1;
}

/* This moves the panel container under the toggle button to behave like a drop down menu, remove for normal behaviour */
#panels-container {
    position: absolute;
    background-color: var(--colorBgDarker) !important;
    opacity: .98;
    z-index: 1;
    height: 80%;
    left: calc(50vw - 22.5vw - 36px);
    top: 4px;
    border-radius: 4px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25) !important;
}

#panels-container:after {display: none}