.panel-clickoutside-ignore.button-toolbar.panel-toggle {
    width: 42px !important;
    opacity: .2;
    position: absolute;
    right: 140px;
    padding-top: 1px !important;
}

.panel-clickoutside-ignore.button-toolbar.panel-toggle:hover, .panel-clickoutside-ignore.button-toolbar.panel-toggle svg:hover {
    background-color: var(--colorAccentBgFadedMore) !important;
    fill: var(--colorAccentFg) !important;
    opacity: .8;
}

.panel-clickoutside-ignore.button-toolbar.panel-toggle.active {
    background-color: var(--colorBgDark) !important;
    fill: var(--colorHighlightBg);
    opacity: 1;
}
