/*
* Vivaldi Start page mods (updated for browser version 7.0)
* Written by sudenim
* GNU General Public License v3.0
* 
* Re-styling of the Speed Dial and Dashboard
*/

.SpeedDialView-Head:empty { margin-top: 15vh; }

/* Navigation bar */
.startpage .startpage-navigation {
  background-color: var(--colorBgAlphaHeavier) !important;
  color: var(--colorAccentFg) !important;
  box-shadow: none !important;
  min-height: 34px !important;
  padding: 10px 25px 10px 0;
  font-size: 1.1em;
}

.button-toolbar > button .button-icon + .button-title { display: none; }

/* Navigation bar buttons */
.startpage .startpage-navigation .button-startpage {
  border-radius: calc(var(--radius)* 2) !important;
  border: 1px solid var(--colorFg) !important;
}

.button-startpage, .startpage .startpage-navigation .button-startpage, .startpage .startpage-folder-navigation .button-startpage {
  margin: 0 5px;
  text-shadow: 0 0 4px hsl(0,0%,40%) !important;
  mask-image: unset;
} 

.startpage .startpage-navigation .button-startpage svg, .startpage .startpage-folder-navigation .button-startpage svg { filter: drop-shadow(0 0 4px hsl(0,0%,40%)); width: auto; }

.startpage-navigation-group .editable-title-container .button-startpage { padding: 0 15px; }

.button-startpage.button-toolbar { padding: 0 5px !important; }

.button-startpage:hover, .button-startpage.active  {
  background-color: var(--colorBgAlpha);
  color: var(--colorAccentFg);
  border-radius: calc(var(--radius) * 2) !important;
  fill: unset !important;

}

.button-startpage:hover { color: var(--colorHighlightBg) !important; }

.startpage .startpage-navigation .startpage-navigation-group:not(:empty) + .startpage-navigation-group { border-left: 0 !important; }

/* Sub-folder title and button */
.startpage .startpage-folder-navigation button {
  background-color: unset !important;
  font-size: 2.5rem;
  font-weight: lighter !important;
  text-shadow: 0 0 4px hsl(0,0%,80%) !important;
  box-shadow: none;
  border: none;
  color: white !important;
  top: -100px;
  left: -15px
}

/* Center the speed dial folder back button */
.startpage .startpage-folder-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-startpage.up-level svg { display: none; }

.startpage .startpage-folder-navigation button:hover { transform: scale(1.05) !important; transition: .1s ease-in-out !important; }

.dials .dial:focus-within>.thumbnail-image:after { box-shadow: none !important; }

.startpage .startpage-folder-navigation { height: 0 !important; margin: 0 !important; }

.dials .dial:focus-within>.thumbnail-image:after { box-shadow: none !important; }

.cb-image svg .folder-tab-color, .thumbnail-image svg .folder-tab-color { fill: var(--colorHighlightBg) !important; }


/* Tiles */
.speeddial .dial {
  background-color: transparent !important;
  background-image: linear-gradient(to top, var(--colorBgAlphaHeavy), var(--colorAccentBgAlpha)) !important;
  backdrop-filter: var(--backgroundBlur) !important;
  border-radius: calc(var(--radius) * 2) !important;
}

.sd-titles-onhover.dials .dial .button-title { color: var(--colorHighlightBg) !important; }

.speeddial .dial > .thumbnail-title { justify-content: center; }

/* Settings panel */
.SpeedDialView-Settings-Button { display: none; }

/* =====================================
   Dashboard
  ===================================== */
.Dashboard-Webpage .url-wrapper { display: none; }

.Dashboard-Webpage .dashboard-widget-header { text-indent: -28px; }

.Dashboard-Widgets .blur-background, .Dashboard-Widgets .solid-background, .dashboard-list-wrapper  { background-color: var(--colorBgAlpha) !important; backdrop-filter: var(--backgroundBlur); }

.Dashboard-Widgets .dashboard-widget { border-radius: calc(var(--radius) * 2) !important; }

.widget-config { border-color: var(--colorHighlightBg); background-color: var(--colorBgAlpha) !important; }

.Dashboard .feed-wrapper .unread, .Dashboard .email-wrapper .unread { color: var(--colorFgIntense) !important; }

.Dashboard > .add-button {
  gap: 0 !important;
  padding: 8px !important;
  border-radius: var(--radius);
  background-color: var(--colorBgAlpha) !important;
  border-radius: 25px !important;
  font-size: 0;
}

.Dashboard > .add-button:hover { background-color: var(--colorHighlightBg) !important; fill: var(--colorAccentFg); }

.Dashboard > .add-button span svg { height: 24px !important; width: 24px !important; }

.dashboard-list-wrapper .button-wrapper .add-button { background-color: var(--colorBgLight) !important; border-radius: calc(var(--radius) * 2) !important; }

.dashboard-list-wrapper .button-wrapper .add-button:hover { color: var(--colorHighlightBg); }

.dashboard-list-wrapper .button-wrapper .add-button[disabled] { color: var(--colorFgFadedMost); }