/*
* Vivaldi Ui tweaks (updated for browser version 6)
* Written by sudenim
* GNU General Public License v3.0
* 
*  General ui changes that include: recolouring, re-positioning, font adjustments, icon replacements
*
*/

/* Text selection */
::selection {
  background-color: var(--colorHighlightBg) !important;
  color: white;
}

/* Fonts */
* {
  font-family: "Quicksand" !important;
  text-shadow: 0 0 .8px var(--colorFgAlpha) !important;
  letter-spacing: .1px;
}


/* =====================================
   Toolbars and Buttons
  ===================================== */
button {
  box-shadow: none !important;
  border-color: transparent !important
}

/* Scale up icons on hover */
button:hover>svg,
button:hover>img,
button:hover>span>svg {
  transform: scale(1.1) !important;
  transition: .01s ease-in-out !important;
}

.color-behind-tabs-off .toolbar-mainbar { color: var(--colorFg) !important; }

.toolbar-mainbar>.button-toolbar>button {
  fill: var(--colorFg);
  transition: .5s !important;
}

.toolbar-default .button-toolbar>button { background-color: var(--colorBgAlpha) !important; }

.toolbar-default .button-toolbar { border: 1px solid transparent !important; }

.toolbar-default .button-toolbar>button.button-pressed { background-image: linear-gradient(var(--colorHighlightBg), var(--colorHighlightBgDark)) !important; }

.toolbar-default .button-toolbar>button.button-pressed:active { background-image: linear-gradient(var(--colorBgDark), var(--colorBgDark)) !important; }

.toolbar-default .button-toolbar>button:hover {
  background-color: var(--colorHighlightBgAlpha) !important;
  fill: var(--colorAccentFg) !important;
}

.toolbar-default .button-toolbar>button.button-pressed {
  color: var(--colorHighlightFg);
  fill: var(--colorHighlightFg) !important;
}

._default-focus {
  outline: transparent !important;
  outline-offset: 0 !important
}

.urlSearch .favicon { display: inline !important; }

.toolbar.icons button, .toolbar.text button {
  background-image: none !important;
  background-color: var(--colorBgDark) !important;
  border-color: var(--colorBg) !important;
  height: 28px !important;
  margin-top: -1px !important
}

.toolbar.icons button:hover, .toolbar.text button:hover {
  background-image: none !important;
  background-color: var(--colorHighlightBg) !important;
  height: 28px !important;
  margin-top: -1px !important
}

input[type=button], input[type=submit] { background-image: none !important; }

/* Won't show horizontal menu and window buttons when no ui */
#browser.minimal-ui:not(.tabs-top) .topmenu, #browser.minimal-ui:not(.tabs-top) .window-buttongroup { display: none !important; }

/* Workspaces button tweaks when in the addressbar */
#browser .workspace-popup .button-icon:not(.override) { width: 0 !important; }


.button-toolbar > button > span.button-toolbar-menu-indicator { margin-top: 4px; }


/* =====================================
   Panel Toggle
  ===================================== */
.button-toolbar > button:hover[title*="Hide Panel"], .button-toolbar > button:hover[title*="Show Panel"] { background-color: var(--colorHighlightBg) !important; }
  
.button-toolbar > button:hover[title*="Hide Panel"] svg, .button-toolbar > button:hover[title*="Show Panel"] svg { fill: var(--colorAccentFg) !important; }

.button-toolbar > button[title*="Hide Panel"] { background-color: var(--colorBgAlphaBlur); }

.button-toolbar > button[title*="Hide Panel"] svg { fill: var(--colorHighlightBg) !important; }


/* =====================================
   Status Bar
  ===================================== */

/* Turns status bar into a dock */
  #browser > footer > .toolbar-statusbar {
  position: absolute;
  width: fit-content;
  margin: 0 auto;
  bottom: 5px;
  left: 0;
  right: 0;
  height: fit-content !important; 
  padding: 2px;
  background-color: var(--colorAccentBg) !important;
  opacity: .98;
  border-radius: 3px;
}

.toolbar-statusbar .toolbar-extensions .button-toolbar > button, .toolbar-statusbar > .button-toolbar > button { height: 28px !important; }

.toolbar-statusbar .button-toolbar > button:hover, .toolbar-statusbar .button-toolbar > button.button-pressed {
  background-color: transparent !important;
  fill: var(--colorHighlightBg);
}
  
.toolbar-statusbar > .button-toolbar > button { padding-top: 1px !important; }
  
.toolbar-statusbar .button-toolbar > button:hover, .toolbar-statusbar .button-toolbar > button.button-pressed {
  background-color: transparent !important;
  fill: var(--colorHighlightBg);
}
  
.extension-popup { transform: translateY(-4px) !important; }

.button-popup-above { bottom: 45px !important;}

.button-popup-wrapper { background-color: var(--colorBgDark); }
  
.button-toolbar > button > span + .button-title, .button-toolbar > button.button-textonly { padding-top: 2px; }

/* Zoom controls */
.toolbar-statusbar .page-zoom-controls { margin-top: 2px; }

.toolbar-medium .button-toolbar > button > .button-badge {
  position: absolute !important;
  right: 5% !important;
}


/* =====================================
   Tabs
  ===================================== */
  #tabs-tabbar-container .newtab svg path {
  d: path("M19.417 12.417h-5.834V6.583a.583.583 0 10-1.166 0v5.833H6.583a.584.584 0 000 1.167h5.833v5.834a.585.585 0 001.168 0v-5.834h5.833a.584.584 0 000-1.166z");
}

.toolbar-tabbar>.button-toolbar.toggle-trash svg path {
  d: path('M6 11.25A1.75 1.75 0 0 0 4.25 13 1.75 1.75 0 0 0 6 14.75 1.75 1.75 0 0 0 7.75 13 1.75 1.75 0 0 0 6 11.25zm7 0A1.75 1.75 0 0 0 11.25 13 1.75 1.75 0 0 0 13 14.75 1.75 1.75 0 0 0 14.75 13 1.75 1.75 0 0 0 13 11.25zm7 0A1.75 1.75 0 0 0 18.25 13 1.75 1.75 0 0 0 20 14.75 1.75 1.75 0 0 0 21.75 13 1.75 1.75 0 0 0 20 11.25z');
}

#tabs-tabbar-container .newtab, #tabs-tabbar-container .toggle-trash { fill: var(--colorFg); }

#tabs-tabbar-container .newtab:hover, #tabs-tabbar-container .toggle-trash:hover { fill: var(--colorHighlightBg); }

.tabs-top:not(.mac).color-behind-tabs-on #tabs-container, .tabs-top.mac.hasfocus.color-behind-tabs-on #tabs-container { background-image: none !important; }

.tab-position .tab .tab-header { margin-right: 3px; }

.tab-position .tab .close svg path {
  d: path("M.71611758 0L0 .71414475 4.2868415 4.9990135.00197275 9.2838828l.71414483.7141446L5.0009863 5.7131583 9.2858555 10 10 9.2838828 5.715131 4.9990135 10 .71414475 9.2858555 0 5.0009863 4.2848688z");
}

.tab-position .tab .close {
  display: flex;
  background: none;
  margin-top: 5px;
}

#browser:not(.alt-tabs) #tabs-tabbar-container .close { margin-right: 0 !important; }

.close { background-color: transparent !important; }

.close:hover { fill: var(--colorHighlightBg) !important; }

.tab-position .tab.unread { font-style: italic; }

.tab-position .tab.tab.tab:not(.active) { filter: grayscale(80%) brightness(50%); }

.tab-position .tab.tab.tab:not(.active):hover { filter: grayscale(0%) brightness(100%); }

.tab-position .tab .progress-indicator, .tab-group-indicator .tab-indicator.active, .tab-group-indicator .tab-indicator:hover:not(.active) {
  background-color: var(--colorHighlightBg) !important;
  height: 1px !important
}

.tab-group-indicator .tab-indicator { background-color: var(--colorHighlightBgAlpha) !important; }

.tabs-left .tab-position .tab, .tabs-right .tab-position .tab {
  margin: 0 !important;
  border-radius: 0 !important;
}


/* =====================================
   Side Panel
  ===================================== */
#switch button:hover {
  background-color: var(--colorHighlightBgAlpha) !important;
  fill: var(--colorAccentFg);
}

#switch>button.active, #switch .addwebpanel-wrapper>button.active {
  background-color: var(--colorBgAlphaBlur) !important;
  fill: var(--colorHighlightBg);
}

.right #switch .addwebpanel-wrapper > button.active, .right #switch > .button-toolbar.active, .right #switch > * > .button-toolbar.active, .right #switch > button.active {
  box-shadow: unset !important;
}

#switch .addwebpanel-wrapper > button.active:not(:focus), #switch > .button-toolbar.active:not(:focus), #switch > * > .button-toolbar.active:not(:focus), #switch > button.active:not(:focus) {
  color: var(--colorHighlightBg);
}
#switch .addwebpanel-wrapper > button.active, #switch > .button-toolbar.active, #switch > * > .button-toolbar.active, #switch > button.active {
  background-color: transparent !important;
}

#switch .addwebpanel-wrapper>button.downloads.in-progress div.progress, #switch>button.downloads.in-progress div.progress {
  background-color: var(--colorHighlightBg);
  border: 1px solid var(--colorHighlightBg)
}

#switch button.webviewbtn img {
  background: transparent !important;
  filter: grayscale(100%) contrast(60%) invert(100%)
}

#switch button.webviewbtn.active img {
  background: none;
  filter: grayscale(10%) contrast(60%) invert(10%)
}

#panels .SlideBar--FullWidth.alternate:after {
  display: flex;
  bottom: unset;
  content: '';
  border: 0 !important;
  border-top: 1px solid var(--colorBgDarker) !important;
  background-color: var(--colorBgLighter) !important;
  border-radius: var(--radius);
  height: 1px;
}

/* Hides webpanel suggestions */
.webpanel-suggestions { display: none; }

/* Panel header */
.panel > header h1 > span:first-child {
  font-size: 14px !important;
  font-weight: 600;
  margin: auto;
}

.transparent { display: none; }

.manager { backdrop-filter: var(--backgroundBlur); }

.manager .manager-content, .manager>.toolbar, .internal-page .manager-editor { background-color: var(--colorBgAlphaBlur) !important; }

.tree-row.folder { font-weight: 700; }

.sortselector, .NotesManager--Vertical .NotesManager-Tree:not(.NotesManager-Tree--Collapsed) { border-color: var(--colorBgDarker) !important; }

#panels .webpanel-stack .webpanel .webpanel-header { padding-top: 12px; }


/* Notes editor manager
  ----------------------------
*/
.NotesManager { opacity: .95; }

.NotesManager-Tree>.toolbar {
  background-color: var(--colorBg);
  margin: unset !important;
  padding: 6px;
}

.NotesManager-Buttons {
  background-color: var(--colorBg);
  border-bottom: 1px solid var(--colorBgDarker);
}

.MarkdownRender p,
.MarkdownRender ul,
.MarkdownRender ol,
.MarkdownRender dl,
.MarkdownRender table,
.MarkdownRender pre,
.MarkdownRender blockquote,
body[contenteditable="plaintext-only"] {
  line-height: 1.4em;
}

.NotesManager-Footer {
  position: absolute;
  grid-area: unset !important;
  justify-content: center;
  align-items: center;
  height: 30px;
  bottom: 4px;
  opacity: 1 !important;
}

.NotesManager-WordCount {
  background-color: var(--colorHighlightBg);
  color: var(--colorHighlightFg);
  padding: 10px 25px;
  margin-bottom: 15px;
  border-radius: var(--radius);
}


/* Calendar
------------------------------
*/
.manager .manager-view { opacity: .95; }

.calendar-multiweek-date.current .day {
  background-color: var(--colorHighlightBg) !important;
  font-size: 1.1em;
  font-weight: 500 !important;
  margin-top: -3px;
  border-radius: calc(var(--radius) * 2);
}

.calendar-event .cal-event-header .cal-event-time, .calendar-event .cal-event-header .cal-event-title {
  font-weight: 400 !important;
  font-size: 1.15em;
}

.calendar-event .cal-event-header .cal-event-title { margin-left: 10px; }


/* Mail
  ----------------------------
*/
#mail_view { opacity: .98; }

.mail_entry.mail_entry.unread .subject,
.mail_entry.mail_entry.unseen .subject {
  color: var(--colorHighlightBg);
  font-weight: unset !important;
}


/* =====================================
   Settings panel/window
  ===================================== */
.vivaldi-settings .settings-sidebar .settings-navigation { min-width: 200px !important; }

.ContentBlocker { max-width: 1000px; }

.colorpicker .colorpicker-plot .colorpicker-plot-reticle {
  position: relative !important;
  z-index: 1 !important;
  top: -10px !important;
  left: -5px !important;
  height: 10px !important;
  width: 10px !important;
  padding: 0 !important;
  border-radius: 50% !important;
  border: 1px solid hsl(0, 0%, 0%) !important;
  box-shadow: 0 0 0 1px #fff !important;
  background-color: hsla(0, 0%, 0%, 0) !important;
}

.info {
  font-size: 12px !important;
  color: var(--colorFgFaded) !important;
}

.vivaldi-settings .settings-sidebar .button-category { height: 32px; }

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row .button-category.category-selected {
  color: var(--colorHighlightBg);
  background-color: var(--colorBgLightIntense) !important;
  border-top: 1px solid var(--colorBorder);
  border-left: 1px solid var(--colorBorder);
  border-bottom: 1px solid var(--colorBorder);
}
  /* Settings icons */
.vivaldi-settings .settings-sidebar .button-category svg {
  stroke: var(--colorHighlightBg) !important;
  fill: transparent !important;
}

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row .button-category.category-selected svg { stroke: var(--colorHighlightBg) !important; }

/* Removes schedule timeline size limit */
.theme-schedule-timeline { max-width: unset !important; }

/* Expands themes layout */
.TabbedView { max-width: unset !important; }

/* Theme timeline indicator */
.theme-schedule-timeline .theme-schedule-now-indicator { color: var(--colorHighlightBg) !important; }

.theme-schedule-timeline .theme-schedule-now-indicator:after { background-color: var(--colorHighlightBg); }

/* Schedule label */
.ThemePreview-Label-Meta>span { color: var(--colorHighlightBg); }

.ThemePreview-Label-Meta { opacity: .8 !important; }


/* =====================================
   Miscellaneous stuff
  ===================================== */

/* Alternating row colours */
.vivaldi-tree div>div:nth-child(even) { background-color: var(--colorBgAlphaHeavier); }

/* Quick command */
.quick-command-container { box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6) !important; }

.quick-command-container, .quick-command-container .quick-commands>div {
  min-width: 40vw;
  cursor: auto;
}

.quick-command-container .quick-commands>div>div { max-width: 100% !important; }

.quick-command-container .quick-command { cursor: pointer; }

/* Rounds fav icons in lists */
.vivaldi-tree .tree-row label>img, .vivaldi-tree .tree-row label .tree-row-image { border-radius: 50% !important; }

/* New tab link marker */
a[target="_blank"]:hover { outline: dotted 1.5px !important; }

/* Check boxes and radio buttons */
.theme-dark input[type=radio], .theme-dark input[type=checkbox] {background-image: none !important; }

input[type=radio], input[type=checkbox] { background-color: var(--colorBgIntense) !important; }

input[type=checkbox]:before, input[type=checkbox]:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colorHighlightBg);
  transform-origin: 0 0;
  transition: transform 0ms linear 0ms;
}

input[type=checkbox]:checked:before {
  transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0.4);
  transition-duration: 33.33333333ms;
}

input[type=checkbox]:checked:after {
  transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(1.2);
  transition-duration: 100ms;
  transition-delay: 33.33333333ms;
}

input[type=radio]:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  transition: transform 50ms linear;
  border-radius: var(--radiusRound);
  background-color: var(--colorHighlightBg);
  transform: scale(0);
}

input[type=radio]:checked:before {
  transition-timing-function: cubic-bezier(0, 0, 0.3, 1.5);
  transition-duration: 100ms;
  transform: scale(1);
}

input[type=radio]:checked {
  box-shadow: none !important;
  border-width: 1px !important;
}

/* UI Scrollbars */
::-webkit-scrollbar {
  background-color: transparent !important;
  border: 0 !important;
  width: 12px !important;
  padding: 0 2px
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
  border: 0 !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--colorFgAlpha) !important;
  border: 4px solid transparent !important;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active { background-color: var(--colorHighlightBg) !important; }

::-webkit-scrollbar-button { display: none !important; }

/* Slider */
input[type=range] {
  background-color: var(--colorHighlightBg);
  height: 1px !important
}

input[type=range]::-webkit-slider-thumb {
  width: 12px !important;
  height: 12px !important;
  border: 1px solid var(--colorFgIntense) !important;
}

input[type=range]::-webkit-slider-thumb:hover { border-color: var(--colorHighlightBg) !important; }

input[type=range]::-webkit-slider-thumb:active { background: linear-gradient(var(--colorBg), var(--colorBgDarker)); }

input[type=range].isblurred::-webkit-slider-thumb, input[type=range][disabled]::-webkit-slider-thumb { opacity: 0.7 !important; }

input[type=range]:focus-visible::-webkit-slider-thumb {
  outline: 2px solid var(--colorHighlightBg);
  outline-offset: -1px;
  border-color: var(--colorHighlightBg);
}

#browser > footer .page-zoom-controls > .button-toolbar > button:not(:disabled) { color: var(--colorHighlightFg); }

#browser > footer .page-zoom-controls > .button-toolbar > button:not(:disabled):hover { color: var(--colorHighlightBg); }


/* =====================================
   Hiding stuff
  ===================================== */
.color-behind-tabs-on .addressfield:focus-within,
.color-behind-tabs-on .searchfield:focus-within,
.UrlBar-AddressField:focus-within,
.searchfield:focus-within,
.toolbar.icons input[type=search] {
  box-shadow: none !important
}

.UrlBar-AddressField .pageload .pageload-indicator
.vivaldi-tree .tree-row.folder .item-count,
.history .item-count,
#history-panel .item-count,
button.fip-previous,
button.fip-next,
button.fip-close,
input::-webkit-search-cancel-button {
  display: none
}

#fip-input-text::-webkit-search-cancel-button { appearance: none !important; }

.cb-image svg .bookmark-shadow, .thumbnail-image svg .bookmark-shadow { fill: transparent !important; }

/* Hides dropdown arrow for history in the address field */
.button-toolbar>button[title="Show typed history"], .button-toolbar>button[title="Enter an address to activate typed history"] { display: none !important; }
