/* Text selection */
::selection {
  background-color: var(--colorHighlightBg) !important;
  color: white
}

/* Font smoothing for Windows OS */
* {
  text-shadow: 0 0 1px var(--colorAccentFgAlpha) !important
}

/* Quick command container */
.quick-command-container {box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6) !important}

#modal-bg > div {border-radius: 3px !important}

/* Tabs
  ----------------------------
*/
#tabs-container .newtab svg path {
  d: path('M18.501 12h-4.252c-.151 0-.248-.099-.248-.251V7.5c0-.298-.197-.5-.5-.5H12.5c-.3 0-.5.203-.5.5v4.249c0 .153-.098.251-.25.251H7.5c-.297 0-.5.2-.5.5v.998c0 .306.203.503.5.503h4.249c.152 0 .251.094.251.248v4.252c0 .297.2.499.5.499h1.001c.303 0 .5-.202.5-.499v-4.252c0-.154.097-.248.248-.248h4.252c.297 0 .499-.197.499-.503V12.5c0-.3-.202-.5-.499-.5z');
}

#tabs-container>div.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container svg path {
  d: path('M6 11.25A1.75 1.75 0 0 0 4.25 13 1.75 1.75 0 0 0 6 14.75 1.75 1.75 0 0 0 7.75 13 1.75 1.75 0 0 0 6 11.25zm7 0A1.75 1.75 0 0 0 11.25 13 1.75 1.75 0 0 0 13 14.75 1.75 1.75 0 0 0 14.75 13 1.75 1.75 0 0 0 13 11.25zm7 0A1.75 1.75 0 0 0 18.25 13 1.75 1.75 0 0 0 20 14.75 1.75 1.75 0 0 0 21.75 13 1.75 1.75 0 0 0 20 11.25z');
}

#tabs-container .newtab,
#tabs-container>div.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container>div {
  fill: var(--colorFg)
}

#tabs-container .newtab:hover,
#tabs-container>div.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container>div:hover {
  background-color: transparent !important;
  fill: var(--colorHighlightBg);
}

.tabs-top:not(.mac).color-behind-tabs-on #tabs-container, .tabs-top.mac.hasfocus.color-behind-tabs-on #tabs-container {
  background-image: none !important
}

.tab-position .tab .tab-header {
  margin-right: 3px
}

.close {
  background-color: transparent !important;
}

.close:hover {
  fill: var(--colorHighlightBg) !important;
}

.tab-position .tab.unread {
  font-style: italic
}

.tab-position .tab.tab.tab:not(.active) {
  color: var(--colorFgFaded) !important;
}

.tab-position .tab .progress-indicator,
.tab-group-indicator .tab-indicator.active,
.tab-group-indicator .tab-indicator:hover:not(.active) {
  background-color: var(--colorHighlightBg) !important;
  height: 1px !important
}

.tab-group-indicator .tab-indicator {
  background-color: var(--colorHighlightBgAlpha) !important
}

#tabs-container {
  border: 0 !important
}

#tabs-container .newtab:hover, #tabs-container .toggle-trash:hover {
  fill: var(--colorHighlightBg) !important
}

/* Puts bottom tabs under the address bar */
#tabs-container.no-thumbs.bottom, #tabs-container.view-thumbs.bottom {
  order: -1;
  padding-bottom: 0
}

.color-behind-tabs-on .bookmark-bar,
.color-behind-tabs-on .bookmark-bar button,
.bookmark-bar .observer {
  background-color: var(--colorBg) !important
}

.color-behind-tabs-on .bookmark-bar button:hover {
  background-color: var(--colorBgLighter) !important
}

.bookmark-bar {order: -2}

.toolbar.toolbar-addressbar {
  order: -3;
  height: 34px
}

.stacks-on.tabs-bottom .tab-strip .tab-group-indicator {
  bottom: 28px
}

.stacks-on.tabs-bottom .tab-strip .tab-group-indicator .tab-indicator.active {
  padding-top: 2px
}

/* Addressfield
  ----------------------------
*/
.addressfield form input.url {
  padding-bottom: 3px !important
}

.SiteInfoButton.secure, .SiteInfoButton.certified {
  background-color: transparent;
  fill: var(--colorFg) !important;
}

.SiteInfoButton.secure:hover, .SiteInfoButton.certified:hover {
  background-color: transparent;
  fill: hsl(113, 57%, 38%) !important;
}

.SiteInfoButton.insecure, .SiteInfoButton.insecure:hover, .SiteInfoButton.insecure:active {
  background-color: transparent;
  fill: hsl(12, 100%, 50%) !important
}

.siteinfo-text {display: none}

.siteinfo-symbol:hover+.siteinfo-text {display: block}

.drop_down:hover, .drop_down[data-selected], #mail_panel section ul li.selected {
  background-color: var(--colorHighlightBg) !important
}

button.button-addressfield:hover {
  background-color: transparent !important;
  border-color: transparent !important
}

.addressfield button.button-addressfield.input-dropdown:hover svg,
.button-addressfield.reader-mode:hover svg,
.button-addressfield.bookmark:hover svg .bookmark-outline {
  fill: var(--colorHighlightBgDark) !important
}

.button-addressfield.bookmark.bookmarked svg .bookmark-outline {
  fill: var(--colorHighlightBgDark)
}

.button-addressfield.bookmark svg .bookmark-animated-fill {
  fill: var(--colorHighlightBgAlpha)
}

.addressfield .pageload:not(.unstarted).progress-done {
  opacity: 0 !important;
  border: none !important
}

/* Bookmark icon */
path.bookmark-outline, clipPath#addBookmarkPath path {
  d: path('M14.051 3.176a4.026 4.026 0 0 0-5.687 0L8 3.54l-.363-.364a4.026 4.026 0 0 0-5.687 0C.414 4.711.405 7.146 1.927 8.838c1.389 1.543 5.485 4.878 5.659 5.019.118.097.26.143.401.143h.014a.605.605 0 0 0 .415-.143c.173-.141 4.27-3.476 5.658-5.019 1.522-1.692 1.511-4.127-.023-5.662zm-.924 4.81C12.044 9.19 9.068 11.671 8 12.552c-1.069-.881-4.044-3.362-5.127-4.565C1.811 6.807 1.8 5.125 2.85 4.076c.536-.535 1.24-.804 1.943-.804s1.407.268 1.943.804l.8.8a.612.612 0 0 0 .342.172.635.635 0 0 0 .585-.172l.801-.801a2.752 2.752 0 0 1 3.886 0c1.048 1.05 1.038 2.732-.023 3.911z')
}

button:not(.button-on) path.bookmark-outline {
  fill: var(--colorFg)
}

button.button-on path.bookmark-outline {
  fill: var(--colorHighlightBg)
}

.add-bookmark-shadow, .bookmark-animated-fill {display: none}

#main>div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large>div.addressfield>div.toolbar.toolbar-small.toolbar-insideinput>div.button-toolbar.cjvgsbzxr000i3n670rebhqf3>button>svg>g>path.bookmark-animated-fill,
#main>div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large>div.addressfield>div.toolbar.toolbar-small.toolbar-insideinput>div.button-toolbar.cjvgsbzxr000i3n670rebhqf3>button>svg>g>path.bookmark-outline {
  display: none
}

/* Pageloading indicator
  ----------------------------
*/
.addressfield .pageload .pageload-indicator::-webkit-progress-value {
  background-color: transparent !important
}

/* show pageload bar */
.addressfield .pageload.progressing .pageload-indicator {
  position: fixed;
  z-index: 999 !important;
  left: 0;
  top: 0;
  height: 1px;
  width: 100vw;
  background: transparent;
  opacity: 1 !important
}

/* pageload bar colors */
.addressfield .pageload:not(.unstarted).progressing .pageload-indicator::-webkit-progress-value {
  background-size: 100vw;
  background-position: 0% 0%;
  background-color: transparent;
  background-image: linear-gradient(to right, var(--colorHighlightBgAlpha), var(--colorBorderHighlight), var(--colorHighlightBg));
  transition: 0.4s steps(5) 0s !important
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value='0']::-webkit-progress-value {
  background-position: 0% 0% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value^='1']:not([value='1']):not([value='100'])::-webkit-progress-value {
  background-position: 0% 10% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value^='2']:not([value='2'])::-webkit-progress-value {
  background-position: 0% 20% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value^='3']:not([value='3'])::-webkit-progress-value {
  background-position: 0% 30% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value^='4']:not([value='4'])::-webkit-progress-value {
  background-position: 0% 40% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value^='5']:not([value='5'])::-webkit-progress-value {
  background-position: 0% 50% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value^='6']:not([value='6'])::-webkit-progress-value {
  background-position: 0% 60% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value^='7']:not([value='7'])::-webkit-progress-value {
  background-position: 0% 70% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value^='8']:not([value='8'])::-webkit-progress-value {
  background-position: 0% 80% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value^='9']:not([value='9'])::-webkit-progress-value {
  background-position: 0% 90% !important;
}

.addressfield .pageload:not(.unstarted).progressing .pageload-indicator[value='100']::-webkit-progress-value {
  background-position: 0% 100% !important;
}

/* Toolbars
  ----------------------------
*/
.toolbar .button-toolbar {
  background-color: transparent !important
}

.toolbar-default .button-toolbar > button {
  background-image: linear-gradient(var(--colorBg), var(--colorBgDark)) !important
}

._default-focus {
  outline: transparent !important;
  outline-offset: 0 !important
}

.urlSearch .favicon {
  display: inline !important
}

.toolbar.icons button, .toolbar.text button {
  background-image: none !important;
  background-color: var(--colorBgDark) !important;
  border-color: var(--colorBg) !important;
  height: 28px !important;
  margin-top: -1px !important
}

.toolbar.icons button:hover, .toolbar.text button:hover {
  background-image: none !important;
  background-color: var(--colorHighlightBg) !important;
  height: 28px !important;
  margin-top: -1px !important
}

.sortselector {
  font-weight: 500 !important;
  background-color: var(--colorBg) !important;
  border-color: var(--colorBgDark) !important;
  border-bottom: 0 !important;
  padding-top: 1px !important
}

#browser .sortselector .sortselector-dropdown, .sortselector .sortselector-button {
  background-color: var(--colorBg) !important
}

input[type=button], input[type=submit] {background-image: none !important}

/* Won't show horizontal menu and window buttons when no ui */
#browser.minimal-ui:not(.tabs-top) .topmenu, #browser.minimal-ui:not(.tabs-top) .window-buttongroup {display: none !important}

/* Window button group
  ----------------------------
*/
#browser.win .window-buttongroup {
  top: 0;
  right: 0;
  z-index: 999
}
#browser.win .window-buttongroup button {
  height: 34px !important;
  width: 44px !important;
  opacity: .7
}
#browser.win .window-buttongroup button:hover {
  background-color: var(--colorAccentBgFadedMore) !important;
  fill: var(--colorAccentFg) !important
}
#browser.win .window-buttongroup button.window-minimize>svg path {
  d: path('M0 5h10v1H0z')
}
#browser.win .window-buttongroup button.window-maximize>svg path, #browser.win .window-buttongroup button.window-restore>svg path {
  d: path('M9 1v8H1V1h8m1-1H0v10h10V0z')
}
.maximized#browser.win .window-buttongroup button.window-close, .fullscreen#browser.win .window-buttongroup button.window-close {
  padding-right: 0 !important
}
#browser.win .window-buttongroup button.window-close svg path {
  d: path('M.71611758 0L0 .71414475 4.2868415 4.9990135.00197275 9.2838828l.71414483.7141446L5.0009863 5.7131583 9.2858555 10 10 9.2838828 5.715131 4.9990135 10 .71414475 9.2858555 0 5.0009863 4.2848688z')
}
#browser.win .window-buttongroup button.window-close, #browser.win:not(.win10) .window-buttongroup .window-close {
  background-color: transparent !important;
  fill: var(--colorFgIntenser) !important;
  margin-right: -2px !important;
  opacity: 1 !important
}
#browser.win .window-buttongroup button.window-close:hover, #browser.win:not(.win10) .window-buttongroup .window-close:hover {
  background-color: var(--colorHighlightBg) !important;
  fill: white !important
}

/* Side panel
  ----------------------------
*/
.panel > header {
  background-color: var(--colorBgDark) !important
}

.panel > header h1 {
  text-align: center;
  margin: -2px 0 2px 0;
  font-size: 14px;
  color: var(--colorFgFaded) !important
}

.panel section, .panel-group, #panels-container.overlay .panel-group {
  opacity: .98
}

#panels-container.overlay:not(.switcher) {
  width: 0 !important
}

.panel-group .panel-collapse-guard {
  background-color: var(--colorBgDark);
  padding: 0 2px 0 0
}

.addbookmark-cardwrapper, .downloaddialog-cardwrapper, .panel#downloads .download-editor, .notes-cardwrapper {
  background-color: var(--colorBg) !important;
  margin: 0 !important
}

#switch {
  background-color: var(--colorBg) !important;
  box-shadow: none !important;
  opacity: .98;
}

#switch button:hover, #switch > button.active:hover, #switch .addwebpanel-wrapper > button.active:hover {
  background-color: var(--colorAccentBgFadedMore) !important;
  fill: var(--colorHighlightBg);
  opacity: .8;
}

#switch > button.active, #switch .addwebpanel-wrapper > button.active {
  background-color: var(--colorBg) !important;
  fill: var(--colorHighlightBg);
}

#switch > button.active:before, #switch .addwebpanel-wrapper > button.active:before {
  position: absolute;
  content: '';
  border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) var(--colorBgDark);
  border-style: solid;
  border-width: 6px;
  bottom: 10px;
  left: 0;
  height: 0;
  width: 0;
  z-index: 2;
}

#switch .addwebpanel-wrapper>button.downloads.in-progress div.progress,
#switch>button.downloads.in-progress div.progress {
  background-color: var(--colorHighlightBg);
  border: 1px solid var(--colorHighlightBg)
}

#switch button.webviewbtn img {
  background: transparent !important;
  filter: grayscale(100%) contrast(60%) invert(100%)
}

#switch button.webviewbtn.active img {
  background: none;
  filter: grayscale(10%) contrast(60%) invert(10%)
}

#panels-container:after {
  background-color: var(--colorBgLightIntense) !important;
}

/* Hides webpanel suggestions */
.webpanel-suggestions {display: none}

/* Notes
  ----------------------------
*/
.notes svg path {d: path('M5.5 17.044V20h3.167l9.167-8.634-3.166-2.956L5.5 17.044zm14.75-7.933c.334-.311.334-.778 0-1.089l-1.917-1.789a.846.846 0 0 0-1.167 0l-1.5 1.4 3.167 2.956 1.417-1.478z')}

#notes-panel .notes-editor .add-attachments-wrapper button:hover, #notes-panel .notes-editor .add-attachments-wrapper label:hover {
  background-color: var(--colorAccentBgFadedMore) !important
}

#notes-panel .notes-editor .add-attachments-wrapper button.active {
  background-color: var(--colorHighlightBg) !important
}

#notes-panel .notes-editor .note.md {
  padding: 8px !important;
  margin: 0 !important
}

#panels button.fullwidth.alternate:after {
  background-image: none !important;
  border: 0;
}

#notes-panel .notes-editor .note.md {
  background-color: var(--colorBgDark)
}

/* Bookmarks and History
  ----------------------------
*/
.manager .manager-content, .vivaldi-tree, .manager>.toolbar, .startpage .history .more-info {
  background-color: var(--colorBgDark) !important;
  opacity: .98;
  backdrop-filter: blur(10px)
}

.vivaldi-tree div>div:nth-child(even),
.manager .manager-treeview div>div:nth-child(even),
.startpage .history .manager-content .history-tree div>div:nth-child(even) {
  background-color: var(--colorBg)
}

.manager .manager-editor {
  border: none !important
}

.panel#downloads .download-item .file,
.panel#downloads .download-item .file .size {
  background-color: transparent
}


.win .vivaldi-tree .tree-item[data-lead] {
  outline: 1px solid var(--colorHighlightBgAlpha) !important
}

.vivaldi-tree .tree-row svg {
  fill: var(--colorFg);
  stroke: var(--colorFg)
}

.panel-group .panel.panel-bookmarks label svg {
  margin-left: 0 !important
  }

/* Miscellaneous stuff
  ----------------------------
*/
/* Rounds fav icons in lists */
.vivaldi-tree .tree-row label>img, .vivaldi-tree .tree-row label .tree-row-image {
  border-radius: 50% !important;
  filter: grayscale(.2)
}

/* Scrollbar for internal pages */
#browser ::-webkit-scrollbar {
  background-color: transparent !important;
  border: 0 !important;
  width: 16px !important;
  padding: 0 2px
}

#browser ::-webkit-scrollbar-track {
  background-color: transparent !important;
  border: 0 !important;

}

#browser ::-webkit-scrollbar-thumb {
  background-color: var(--colorFgAlpha) !important;
  border: 6px solid transparent !important;
  border-radius: 8px;
 }

#browser ::-webkit-scrollbar-thumb:hover, #browser ::-webkit-scrollbar-thumb:active {
  background-color: var(--colorHighlightBg) !important;
}

#browser ::-webkit-scrollbar-button {
  display: none !important
}

/* Slider */
input[type=range] {
  background-color: var(--colorBgDarker)
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-webkit-slider-thumb:active, input[type=range]::-webkit-slider-thumb:focus {
  border-width: 2px !important
}

/* Settings panel
  ----------------------------
*/
.vivaldi-settings .settings-sidebar .settings-navigation {min-width: 200px !important}

.colorpicker .colorpicker-plot .colorpicker-plot-reticle {
  position: relative !important;
  z-index: 1 !important;
  top: -10px !important;
  left: -5px !important;
  height: 10px !important;
  width: 10px !important;
  padding: 0 !important;
  border-radius: 50% !important;
  border: 1px solid hsl(0, 0%, 0%) !important;
  box-shadow: 0 0 0 1px #fff !important;
  background-color: hsla(0, 0%, 0%, 0) !important;
}

.info {
  font-size: 12px !important;
  color: var(--colorFgFaded) !important;
}

/* Hiding stuff
  ----------------------------
*/
.color-behind-tabs-on .addressfield:focus-within, .color-behind-tabs-on .searchfield:focus-within,
.addressfield:focus-within, .searchfield:focus-within,
.toolbar.icons input[type=search] {
  box-shadow: none !important
}

.vivaldi-tree .tree-row.folder .item-count, .history .item-count, #history-panel .item-count,
button.fip-previous, button.fip-next, button.fip-close,
input::-webkit-search-cancel-button {
  display: none
}

#fip-input-text::-webkit-search-cancel-button {
  appearance: none !important
}

.cb-image svg .bookmark-shadow, .thumbnail-image svg .bookmark-shadow {
  fill: transparent !important
}

/* Hides background colours */
[title=Default], [title=Blue], [title="Pro"] {
	display:none !important;
}

/* Hides wallpapers in settings */
[title=Vivaldi], [title=Human], [title="Hot Pink"], [title=Subtle], [title=Dark], [title=Blueprint], [title=Beach], [title=Light], [title=Sunset], [title="Starry Night"], [title="Pink Cloud"], [title=Jellyfish], [title="Purple Lake"], [title=Wave] {
	display:none;
}
