/*
* Vivaldi Vertical Tabs overlay with animation 
* Written by sjudenim
* GNU General Public License v3.0
* 
* Makes the vertical tabs an overlay that is hidden when not in use
*/

/* Tab overlay & animation */
#tabs-container.left, #tabs-container.right {
  position: absolute;
  background-color: var(--colorBgDarker) !important;
  z-index: 1;
  height: 100%;
  transition: transform .3s .4s !important
}

#tabs-container.left::after, #tabs-container.right::before {
  content: '';
  display: block;
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 8px
}

#tabs-container.left::after { margin-left: 100%; }

#tabs-container.right::before { margin-left: -8px; }

#tabs-container.left:not(:hover) {
  transform: translateX(-100%);
  transition: transform .5s .7s !important
}

#tabs-container.right { right: 0; }

#tabs-container.right:not(:hover) {
  transform: translateX(100%);
  transition: transform .5s .7s !important
}

#tabs-container.top { padding-right: 230px !important; }


/* Miscellaneous stuff
  ----------------------------
*/
/* Desaturates inactive tabs to make the active one pop more. Meant for use with tab thumbnails */
.tab-strip .tab:not(.active) { filter: grayscale(100%) brightness(50%); }

.tab-strip .tab:not(.active):hover { filter: grayscale(50%) brightness(80%); }

.ContentBlocker { max-width: 1000px}
