.paneltogglefooter {
    width: 42px !important;
    opacity: .2;
    position: absolute;
    right: 140px;
    padding-top: 1px !important;
}

.paneltogglefooter:hover, .paneltogglefooter svg:hover {
    fill: var(--colorAccentFg) !important;
    opacity: 1 !important
}

.paneltogglefooter.active {
    background-color: var(--colorBgDark) !important;
    fill: var(--colorHighlightBg);
    opacity: 1;
}