/* Makes the toolbar top most */
.toolbar.toolbar-addressbar {
    background-color: var(--colorBg) !important;
    z-index: 999 !important;
    top: 1px !important;
}


/* This will allow the tab bar to sit on top of the side panel */
#panels-container.left, #panels-container.right {
    z-index: 1;
}


/* Tab bar dimensions */
#tabs-container.top {
    position: absolute !important;
    z-index: 2;
    height: 150px !important;
    width: 100% !important;
    padding: 40px 0 5px 0 !important;
    background-color: var(--colorBgAlpha) !important;
}


/* Centering the tabs*/
.tab-strip {
    display: flex;
    justify-content: center;
}

.tab-position {
    position: relative;
    left: 0 !important;
}

#tabs-container > div.resize > div > span > div {
    width: 220px !important;
    height: 153px !important;
}


/* Positions the tab buttons */
#tabs-container .newtab {
    position: relative !important;
    left: auto !important;
    top: auto !important;
}


/* Tab animation */
#tabs-container.top {
    top: -190px;
    transition: top 1s ease 1s !important;
}

#tabs-container.top:hover {
    top: 0 !important;
    transition: top .5s ease .3s !important;
}


/* Desaturates inactive tabs to make the active one pop more. Meant for use with tab thumbnails */
.tab-strip .tab:not(.active) {
    -webkit-filter: grayscale(100%) brightness(60%);
    color: var(--colorAccentFgAlpha) !important;
}

.tab-strip .tab:not(.active):hover {
    -webkit-filter: grayscale(0%) brightness(100%);
}

#titlebar>button>span.application-icon,
#titlebar>button>span.vivaldi-v {
    margin-top: -8px !important;
}