/* Tab overlay & animation
  ========================================
*/
#tabs-container.left, #tabs-container.right {
    position: absolute;
    background-color: var(--colorBgDarker) !important;
    opacity: .98;
    z-index: 1;
    height: 100%;
    transition: transform .5s .4s !important;
}

#tabs-container.left::after, #tabs-container.right::after {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 8px
}

#tabs-container.left::after {margin-left: 100%}

#tabs-container.right::after {margin-left: 100%}


#tabs-container.left:not(:hover) {
    transform: translateX(-100%);
    transition: transform .5s .6s !important;
}

#tabs-container.right {right: 0}

#tabs-container.right:not(:hover) {
    transform: translateX(100%);
    transition: transform .5s .6s !important;
}


/* Tab container buttons
  ========================================
*/
#tabs-container.left .newtab, #tabs-container.right .newtab, #tabs-container .sync-and-trash-container {margin: 0 auto !important}


/* Miscellaneous stuff
  ========================================
*/
/* Desaturates inactive tabs to make the active one pop more. Meant for use with tab thumbnails */
.tab-strip .tab:not(.active) {
    filter: grayscale(100%) brightness(60%);
    background-color: var(--colorBgDark) !important;
    color: var(--colorFgFaded) !important
}

.tab-strip .tab:not(.active):hover {filter: grayscale(0%) brightness(100%)}

.tab-strip .tab.active {
    background-color: var(--colorBg) !important}