/*
* Address Top Auto-Hide (02/08/26)
* For Vivaldi browser version 7.8 and up
* Author: sudenim
*
* Description: Turns the top address bar into an auto-hide overlay (for use with vertical tabs)
*
* GNU General Public License v3.0
*/

/* Sets a static vertical tab container size */
#tabs-tabbar-container.left, #tabs-tabbar-container.right { width: var(--vTabBarWidth) !important; }

/* Auto-hide addressbar */
.address-top .mainbar { 
  position: absolute;
  box-shadow: 0 3px 3px 0px rgba(0,0,0,0.25);
  top: 0;
  left: var(--vTabBarWidth);
  width: calc(100% - (var(--vTabBarWidth))); 
  z-index: 1;
  transition: transform var(--shortDuration) var(--shortDelay) !important;
}

.address-top .mainbar::after {
  content: '';
  display: block;
  position: absolute;
  background-color: transparent;
  height: var(--triggerSize);
  width: 100%;
}

.address-top .mainbar:not(:hover) { transform: translatey(-100%); transition: transform var(--longDuration) var(--longDelay) !important; }

/* Makes the panel top most so that auto-hide adressbar doesn't cover it */
#panels-container { z-index: 10 !important; }