/* =====================================
   Tab overlay animation
  ===================================== */
.tabs-left #main { margin-left: 0; }

.tabs-right #main { margin-right: 0; }
  
#tabs-tabbar-container.left, #tabs-tabbar-container.right {
  position: absolute;
  z-index: 1;
  height: 100%;
  transition: transform .3s .3s !important
}
  
#tabs-tabbar-container.left::after, #tabs-tabbar-container.right::before {
  content: '';
  display: block;
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 8px
}
  
#tabs-tabbar-container.left::after { margin-left: 100%; }
  
#tabs-tabbar-container.right::before { margin-left: -8px; }
  
#tabs-tabbar-container.left:not(:hover) { transform: translateX(-100%); transition: transform .7s .7s !important }
  
#tabs-tabbar-container.right { right: 0; }
  
#tabs-tabbar-container.right:not(:hover) { transform: translateX(100%); transition: transform .7s .7s !important }