/*
* Variables (02/08/26)
* For Vivaldi browser version 7.8 and up
* Author: sudenim
*
* Description: This file is needed as it sets global variable values in some of the other mods
*
* GNU General Public License v3.0	
*/

:root {
    --transparency: transparent 5%;
    --borderSize: 2px;
    --spacing: 2px;
    --rounding: 25px;
    --inputRadius: 25px;
    --vTabBarWidth: 230px;
    --triggerSize: 4px;
    --longDelay: .7s;
    --longDuration: .6s;
    --shortDelay: .5s;
    --shortDuration: .3s;
}
