/*	
* Fixes (01/28/26)
* For Vivaldi browser version 7.8 and up
* By sudenim	
*
* Description: Random fixes for errors in the base ui	
*
* GNU General Public License v3.0	
*/

/* Ui zoom bug */
#browser.win button.vivaldi, #browser .window-buttongroup { scale: unset !important; }

/* Window button controls use same color as address bar */
#browser .window-buttongroup.on-mainbar { background-color: unset !important; }

/* Better icon colour for transparent container */
#browser.transparent-tabbar.tabs-left, #browser.transparent-tabbar.tabs-left { --colorImageFg: var(--colorFgIntense) !important; }

.color-behind-tabs-off #tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar,
.color-behind-tabs-off #tabs-tabbar-container .toolbar:not(.toolbar-small) > div > .button-toolbar { color: var(--colorFg) !important; }

/* Adjustment for tab container if using regular density*/
.tabbar-wrapper > div:not(.tabbar-wrapper) { padding-top: 0 !important; }

/* Makes the vertical tab background consistent with the side panel */
#browser.transparent-tabbar #tabs-tabbar-container.left, #browser.transparent-tabbar #tabs-tabbar-container.right,
#browser:not(.transparent-tabbar) #tabs-tabbar-container, .transparent-tabbar .button-toolbar.workspace-popup.tabbar-workspace-button { background-color: var(--colorBgAlphaBlur) !important; backdrop-filter: var(--backgroundBlur); }

.tabs-left .tabbar-wrapper, .tabs-right .tabbar-wrapper { background-color: unset !important; }

#browser.transparent-tabbar #tabs-tabbar-container.left #tabs-container, #browser.transparent-tabbar #tabs-tabbar-container.right #tabs-container { backdrop-filter: unset !important; }

/* New tab button hover */
#tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar:not(.toolbar-spacer, .toolbar-spacer-flexible) > button:not([disabled]):hover { background-color: var(--colorHighlightBg); color: var(--colorHighlightFg);}

/* Allows the colour of the mainbar to show */
.color-behind-tabs-off#browser .window-buttongroup.on-mainbar { background-color: transparent !important; }

/* remove card background from mail panel */
.panel#mail_panel .tree-item:not([data-selected]) .tree-row,
.theme-dark .panel#mail_panel .tree-item:not([data-selected]) .tree-row,
.panel#mail_panel .tree-item:is([data-selected]) .tree-row .mail_panel_node,
.panel#mail_panel .tree-item:is([data-selected]) .tree-row .mail-panel-category,
.panel#mail_panel .tree-item:not([data-selected]) .mail-panel-category,
.theme-dark .panel#mail_panel .tree-item:not([data-selected]) .mail-panel-category
 { background-color: transparent !important; border-radius: 0 !important; }

/* restores mail tree rows to match other panel's tree rows */
.panel#mail_panel .tree-row, .theme-dark .panel#mail_panel .tree-row { padding-inline: 0 !important; background-color: var(--colorHighlightBg) !important; }

/* removes duplicate background color for the window buttons group */
.color-behind-tabs-off#browser .window-buttongroup.on-mainbar { background-color: transparent !important; }
