/*
* Vivaldi Start page mods (updated for browser version 7.1)
* Written by sudenim
* GNU General Public License v3.0
* 
* Re-styling of the Speed Dial and Dashboard
*/

.SpeedDialView-Head:empty { margin-top: 10vh; }

/* Navigation bar */
.startpage .startpage-navigation {
  background-color: var(--colorBgAlphaHeavier) !important;
  color: var(--colorAccentFg) !important;
  box-shadow: none !important;
  padding: 10px 25px 10px 0;
  font-size: 1.1em;
}

.button-toolbar > button .button-icon + .button-title { display: none; }

/* Navigation bar buttons */
.startpage .startpage-navigation .button-startpage {
  background-image: linear-gradient(to top, var(--colorBgAlphaHeavy), var(--colorAlpha)) !important;
  border-radius: calc(var(--radius)* 2) !important;
  border: 1px solid var(--colorAccentFgFaded) !important;
}

.button-startpage, .startpage .startpage-navigation .button-startpage, .startpage .startpage-folder-navigation .button-startpage {
  margin: 0 5px;
  text-shadow: 0 0 4px hsl(0,0%,20%) !important;
  mask-image: unset;
} 

.startpage .startpage-navigation .button-startpage svg, .startpage .startpage-folder-navigation .button-startpage svg { filter: drop-shadow(0 0 4px hsl(0,0%,40%)); width: auto; }

.startpage-navigation-group .editable-title-container .button-startpage { padding: 0 15px; }

.button-startpage.button-toolbar { padding: 0 5px !important; width: 34px; }

.button-startpage.active  { background-color: var(--colorBgAlphaHeavy); color: var(--colorAccentFg); fill: unset !important; }

.button-startpage:hover { background-color: var(--colorBgAlphaHeavy); }

.button-startpage:hover svg { color: var(--colorAccentFg) !important; }

.startpage .startpage-navigation .startpage-navigation-group:not(:empty) + .startpage-navigation-group { border-left: 0 !important; }

/* Hide Quick Settings panel buton */
.SpeedDialView-Settings-Button { display: none; }

/* Sub-folder title and button */
.startpage .startpage-folder-navigation button {
  background-color: unset !important;
  font-size: 2.5rem;
  font-weight: lighter !important;
  text-shadow: 0 0 4px hsl(0,0%,80%) !important;
  box-shadow: none;
  border: none;
  color: white !important;
  top: -60px;
  left: -15px
}

/* Center the speed dial folder back button */
.startpage .startpage-folder-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-startpage.up-level svg { display: none; }

.startpage .startpage-folder-navigation button:hover { transform: scale(1.05) !important; transition: .1s ease-in-out !important; }

.dials .dial:focus-within>.thumbnail-image:after { box-shadow: none !important; }

.startpage .startpage-folder-navigation { height: 0 !important; margin: 0 !important; }

.dials .dial:focus-within>.thumbnail-image:after { box-shadow: none !important; }

.cb-image svg .folder-tab-color, .thumbnail-image svg .folder-tab-color { fill: var(--colorHighlightBg) !important; }


/* Tiles */
.speeddial .dial {
  background-color: transparent !important;
  background-image: linear-gradient(to top, var(--colorBgAlphaHeavy), var(--colorAccentBgAlpha)) !important;
  backdrop-filter: var(--backgroundBlur) !important;
}

.speeddial .dial:hover { background-image: linear-gradient(to top, var(--colorBgAlphaHeavy), var(--colorHighlightBgAlpha)) !important; }

.sd-titles-onhover.dials .dial .button-title { color: var(--colorHighlightBg) !important; }

.speeddial .dial > .thumbnail-title { justify-content: center; }

/* Hides New Speed Dial suggestions */
.startpage-drawer section.drawer-categories, .startpage-drawer section.drawer-suggestions { display: none !important; }

/* =====================================
   Managers
  ===================================== */
/* Manager backgrounds */
.manager { backdrop-filter: var(--backgroundBlur); }

/* Calendar
  ===================================== */
.manager .manager-view { opacity: .95; background-image: var(--backgroundBlur); font-size: 1.1em; }

.calendar.manager > .toolbar h1 { margin-bottom: 10px; font-weight: 400 !important; font-size: 2rem !important; color: var(--colorHighlightBg); }

.calendar-multiweek-date.current .day {
  background-color: var(--colorHighlightBg) !important;
  font-size: 1.1em;
  font-weight: 500 !important;
  margin-top: -3px;
  border-radius: calc(var(--radius) * 2);
}

.calendar-event .cal-event-header { font-weight: 500; }

.calendar-event .cal-event-header .cal-event-time { color: var(--colorAccentFg); }

.calendar-event .cal-event-header .cal-event-title { color: var(--colorFg); margin-left: 10px; }

.calendar-event .cal-event-dot { margin-right: 12px !important;  color: var(--colorHighlightBg) !important; }

.calendar-event .cal-event-dot > svg { margin-bottom: 1px; }

.calendar-grid-days .calendar-drop-target .day.current { color: var(--colorAccentFg) !important; }

.calendar-grid-agenda .cal-tasks-row .cal-tasks-row-date { color: var(--colorHighlightBg) !important; }

.calendar-event { color: var(--colorFg) !important; }

.calendar-event input[type=submit] { border-color: unset !important; color: unset !important; }

.calendar-event input[type='checkbox'] { border-color: var(--colorHighlightBg) !important; }

.CalendarEventBubble-Inner, .CalendarEventBubble-Arrow { background: var(--colorAccentBg) !important;}

/* Notes Manager
  ===================================== */
.NotesManager { opacity: .95; background-image: var(--backgroundBlur); }

.NotesManager-Tree>.toolbar { background-color: var(--colorBg); margin: unset !important; padding: 6px; }
 
.NotesManager-Buttons { background-color: var(--colorBg); border-bottom: 1px solid var(--colorBgDarker); }
  
.MarkdownRender p, .MarkdownRender ul, .MarkdownRender ol, .MarkdownRender dl, .MarkdownRender table, .MarkdownRender pre, .MarkdownRender blockquote, body[contenteditable="plaintext-only"] { line-height: 1.4em; }
  
.NotesManager-Note { background-color: var(--colorBgAlphaBlur) !important; }
  
.NotesManager-EmptyPlaceholder:hover { outline: unset !important; }
  
.NotesManager-Footer {
  background-color: var(--colorBgAlphaBlur) !important;
  justify-content: center;
  align-items: center;
  height: 30px;
  bottom: 4px;
  opacity: 1 !important;
}
  
.NotesManager-WordCount {
  background-color: var(--colorHighlightBg);
  color: var(--colorAccentFg);
  padding: 10px 25px;
  border-radius: var(--radius);
}

/* =====================================
   Dashboard
  ===================================== */
/* Semi-transparent background */
  .Dashboard-Widgets .semi-transparent {
    background-color: var(--colorBgAlphaBlur) !important;
    backdrop-filter: var(--backgroundBlur);
}
  
/* Transparent background */
.Dashboard-Widgets .transparent {
  background-image: linear-gradient(to top, var(--colorBgAlphaHeavy), var(--colorAccentBgAlpha)) !important;
  color: var(--colorImageCenterFg, var(--colorWindowFg)) !important;
}

.Dashboard-Widgets .dashboard-widget-header { max-height: 25px; }

.Dashboard-Widgets .dashboard-widget-header .title { font-size: 0 !important; }

.Dashboard-Webpage .url-wrapper { display: none; }
 
.dashboard-list-wrapper { background-color: var(--colorBgAlphaBlur) !important; }
  
.widget-config { border-color: var(--colorHighlightBg); background-color: var(--colorBgAlpha) !important; }
  
.Dashboard > .add-button {
  gap: 0 !important;
  padding: 6px !important;
  background-color: var(--colorBgAlphaHeavy) !important;
  border-radius: calc(var(--radius) * 2) !important;
  fill: var(--colorAccentFgFaded);
  border: 1px solid var(--colorAccentFgAlpha);
  font-size: 0;
}
  
.Dashboard > .add-button:hover { background-color: var(--colorHighlightBg) !important; fill: var(--colorAccentFg); }
  
.Dashboard > .add-button span svg { height: 20px !important; width: 20px !important; }
  
.dashboard-list-wrapper .button-wrapper .add-button { background-color: transparent !important; box-shadow: none !important; }
  
.dashboard-list-wrapper .button-wrapper .add-button:hover { color: var(--colorHighlightBg); }
  
.dashboard-list-wrapper .button-wrapper .add-button[disabled] { color: var(--colorFgFadedMost); }
  
/* Date widget
  ===================================== */ 
.Dashboard-Date .date-wrapper .day-display { color: var(--colorHighlightBg); }
  
.Dashboard-Date .date-wrapper .date-display { display: unset !important; }
  
.Dashboard-Date .date-wrapper .date-display .date { font-weight: 200 !important; color: var(--colorAccentFg); }
  
.Dashboard-Date .date-wrapper .week-display { opacity: 1 !important; font-weight: 500; }
  
.Dashboard-Date .date-wrapper .time-display { text-align: end; text-transform: lowercase; font-size: 1.6em; letter-spacing: 1px; }
  
/* Email and Feed widget
  ===================================== */
.Dashboard .email-wrapper .unread .title-row .title, .Dashboard .email-wrapper .unread .data-row .title,
.Dashboard .feed-wrapper .unread .title-row .title, .Dashboard .feed-wrapper .unread .data-row .title { color: var(--colorHighlightBg) !important; }
  
.Dashboard .feed-wrapper .unread .subject-row .title, .Dashboard .email-wrapper .unread .subject-row .title { color: var(--colorAccentFg) !important; }
  
.Dashboard .feed-wrapper .feed-row .title-row .date, .Dashboard .email-wrapper .feed-row .title-row .date,
.Dashboard .feed-wrapper .email-item .data-row .date, .Dashboard .email-wrapper .email-item .data-row .date { opacity: 0.9 !important; font-weight: 500; }
  
/* Events Widget
  ===================================== */
.Dashboard-TasksWidget .widget-image-intro ~ .calendar-viewport .calendar-add-event-button,
.Dashboard-CalendarWidget .widget-image-intro ~ .calendar-viewport .calendar-add-event-button { background-color: var(--colorBgDarker); color: var(--colorAccentFg); border-radius: calc(var(--radius) * 2); }
  
.Dashboard-TasksWidget .widget-image-intro ~ .calendar-viewport .calendar-add-event-button:hover,
.Dashboard-CalendarWidget .widget-image-intro ~ .calendar-viewport .calendar-add-event-button:hover { background-color: var(--colorHighlightBg); color: var(--colorAccentFg); }
  
/* Date for events and tasks */
.calendar-grid-agenda .cal-tasks-row .cal-tasks-row-date {font-size: unset !important; }
  
/* Weather widget
  ===================================== */
.Dashboard-WeatherWidget .weather-wrapper .today-forecast-wrapper .heading.block { color: var(--colorHighlightBg) !important; font-weight: 300 !important; }
  
.Dashboard-WeatherWidget .weather-wrapper .today-forecast-wrapper .heading { font-weight: 300 !important; }
  
.Dashboard-WeatherWidget .weather-wrapper .today-forecast-wrapper .current-forecast { color: var(--colorAccentFg); }
  
.Dashboard-WeatherWidget .weather-wrapper .today-forecast-wrapper .date { display: none; }

