/*
* Start Page mods (08/22/25)
* For Vivaldi browser version 7.6 and up
* By sudenim
* 
* Description: Re-styling of Speed Dial and Dashboard elements
*
* GNU General Public License v3.0
*/

/* Container */
.sdwrapper.has-SpeedDial .SpeedDialView { padding: 15vh 0 50px !important; }

.SpeedDials { gap: unset !important; }

/*=====================================
   Navigation Bar
  =====================================*/
.startpage .startpage-navigation {
  background-color: var(--colorBgAlphaHeavier) !important;
  backdrop-filter: var(--backgroundBlur) !important;
  color: var(--colorAccentFg) !important;
  box-shadow: none !important;
  padding: 10px 25px 10px 0;
  font-size: 1.1em;
}

.button-toolbar > button .button-icon + .button-title { display: none; }

/* Navigation Bar buttons */
.startpage .startpage-navigation .startpage-navigation-group:first-of-type { margin-right: 0 !important; }

.startpage .startpage-navigation .button-startpage {
  background-image: linear-gradient(to top, var(--colorBgAlphaHeavy), var(--colorAlpha)) !important;
  border-radius: calc(var(--radius)* 2) !important;
  border: 1px solid var(--colorAccentFg);
}

.button-startpage.button-toolbar button:hover { background-color: transparent !important; }

.button-startpage, .startpage .startpage-navigation .button-startpage, .startpage .startpage-folder-navigation .button-startpage {
  margin: 0 5px;
  text-shadow: 0 0 4px hsl(0,0%,20%) !important;
  mask-image: unset;
} 

.startpage .startpage-navigation .button-startpage svg, .startpage .startpage-folder-navigation .button-startpage svg { filter: drop-shadow(0 0 4px hsl(0,0%,40%)); width: auto; }

.startpage-navigation-group .editable-title-container .button-startpage { padding: 0 15px; }

.button-startpage.button-toolbar { padding: 0 5px !important; width: 34px; }

.button-startpage.active  { background-color: var(--colorBgAlphaBlur); color: var(--colorAccentFg) !important; fill: unset !important; }

.startpage .startpage-navigation .startpage-navigation-group .button-startpage:hover { background-color: var(--colorBgAlphaHeavy) !important; border: 1px solid var(--colorHighlightBg) !important; }

.button-startpage:hover svg { color: var(--colorAccentFg); }

.startpage .startpage-navigation .startpage-navigation-group:not(:empty) + .startpage-navigation-group { border-left: 0 !important; }

.button-startpage.add-set svg path { fill: unset !important; }
 
/* Hide Quick Settings panel buton */
.SpeedDialView-Settings-Button { display: none; }

/* Sub-folder title and button */
.button-startpage.up-level { padding: 0 8px 4px !important; }

.button-startpage.up-level svg { display: none; }

.startpage .startpage-folder-navigation button {
  background-color: unset !important;
  border-radius: calc(var(--radius)* 2) !important;
  font-size: 2.5rem;
  font-weight: lighter;
  box-shadow: none;
  color: white !important;
  text-shadow: 0 0 4px hsl(0,0%,20%) !important;
  top: -60px;
}

.startpage .startpage-folder-navigation button:hover {
  transform: scale(1.1);
  transition: .1s ease-in-out !important;
}

/* Center the speed dial folder back button */
.startpage .startpage-folder-navigation { display: flex; align-items: center; justify-content: center; }

.dials .dial:focus-within>.thumbnail-image:after { box-shadow: none !important; }

.startpage .startpage-folder-navigation { height: 0 !important; margin: 0 !important; }

.dials .dial:focus-within>.thumbnail-image:after { box-shadow: none !important; }

.cb-image svg .folder-tab-color, .thumbnail-image svg .folder-tab-color { fill: var(--colorHighlightBg) !important; }

/* Add speed dial button */
.SpeedDial-Add-Button {
  gap: 0 !important;
  padding: 6px !important;
  background-color: var(--colorBgAlphaBlur) !important;
  backdrop-filter: var(--backgroundBlur) !important;
  border-radius: calc(var(--radius) * 2) !important;
  fill: var(--colorAccentFg) !important;
  border: 1px solid var(--colorAccentFgAlpha);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3) !important;
  font-size: 0;
}

.SpeedDial-Add-Buttons { box-shadow: none !important; }

.SpeedDial-Add-Button:hover { border-color: var(--colorHighlightBg) !important; }
  
.SpeedDial-Add-Button  span svg { height: 20px !important; width: 20px !important; }

/* Tiles */
.SpeedDial--Thumbnail {
  background-color: transparent !important;
  background-image: linear-gradient(to top, var(--colorBgAlphaHeavy), var(--colorAccentBgAlpha)) !important;
  backdrop-filter: var(--backgroundBlur) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3) !important;
}

.SpeedDial--Thumbnail:hover { background-image: linear-gradient(to top, var(--colorBgAlphaHeavy), var(--colorHighlightBgAlpha)) !important; }

.SpeedDial--Thumbnail > .thumbnail-title { justify-content: center; color: var(--colorHighlightBg) !important; }

/* Hides New Speed Dial suggestions */
.startpage-drawer section.drawer-categories, .startpage-drawer section.drawer-suggestions { display: none !important; }

/*=====================================
   Managers
  =====================================*/
/* Manager backgrounds */
.manager .manager-content, .manager > .toolbar, .manager .manager-editor { background-color: var(--colorBgAlphaBlur) !important; backdrop-filter: var(--backgroundBlur); border: 0 !important; }

/* History manager date */
.manager > .toolbar > h1 { font-size: 1.2rem; color: var(--colorHighlightBg); }

/* Calendar */
.manager .manager-view { opacity: .95; backdrop-filter: var(--backgroundBlur) !important; font-size: 1.1em; }

.calendar.manager > .toolbar h1 { margin-bottom: 10px; font-weight: 400 !important; font-size: 2rem !important; color: var(--colorHighlightBg); }

.calendar-multiweek-date.current .day {
  background-color: var(--colorHighlightBg) !important;
  font-size: 1.1em;
  font-weight: 500 !important;
  margin-top: -3px;
  border-radius: calc(var(--radius) * 2);
}

.calendar-event .cal-event-header { font-weight: 500; }

.calendar-event .cal-event-header .cal-event-time { color: var(--colorAccentFg); }

.calendar-event .cal-event-header .cal-event-title { color: var(--colorFg); margin-left: 10px; }

.calendar-event .cal-event-dot { margin-right: 12px !important;  color: var(--colorHighlightBg) !important; }

.calendar-event .cal-event-dot > svg { margin-bottom: 1px; }

.calendar-grid-days .calendar-drop-target .day.current { color: var(--colorAccentFg) !important; }

.calendar-grid-agenda .cal-tasks-row .cal-tasks-row-date { color: var(--colorHighlightBg) !important; }

.calendar-event { color: var(--colorFg) !important; }

.calendar-event input[type=submit] { border-color: unset !important; color: unset !important; }

.calendar-event input[type='checkbox'] { border-color: var(--colorHighlightBg) !important; }

.CalendarEventBubble-Inner, .CalendarEventBubble-Arrow { background: var(--colorAccentBg) !important;}

/* Notes */
.NotesManager { opacity: .95; background-image: var(--backgroundBlur); }

.NotesManager-Tree>.toolbar { background-color: var(--colorBg); margin: unset !important; padding: 6px; }
 
.NotesManager-Buttons { background-color: var(--colorBg); border-bottom: 1px solid var(--colorBgDarker); }
  
.MarkdownRender p, .MarkdownRender ul, .MarkdownRender ol, .MarkdownRender dl, .MarkdownRender table, .MarkdownRender pre, .MarkdownRender blockquote, body[contenteditable="plaintext-only"] { line-height: 1.4em; }
  
.NotesManager-Note { background-color: var(--colorBgAlphaBlur) !important; }
  
.NotesManager-EmptyPlaceholder:hover { outline: unset !important; }

.editor-wrapper .editor-contenteditable { font-size: 1.2em !important; }

.NotesManager-WordCount {
  background-color: var(--colorHighlightBg);
  color: var(--colorAccentFg);
  margin: 6px auto;
  padding: 10px 25px;
  border-radius: var(--radius);
}

/*=====================================
   Dashboard
  =====================================*/
.Dashboard-Widgets .dashboard-widget { padding: 5px; }

/* Semi-transparent background */
  .Dashboard-Widgets .semi-transparent {
    background-color: var(--colorBgAlphaBlur) !important;
    backdrop-filter: var(--backgroundBlur);
}

/* Title bar */
.Dashboard-Widgets .dashboard-widget-header { max-height: 12px; }

.Dashboard-Widgets .dashboard-widget-header .title { font-size: 0 !important; }

.Dashboard-Webpage .url-wrapper { display: none; }

/* Add widget wrapper */
.dashboard-list-wrapper { background-color: var(--colorBgAlphaBlur) !important; backdrop-filter: var(--backgroundBlur) !important; }
  
.widget-config { border-color: var(--colorHighlightBg); background-color: var(--colorBgAlpha) !important; }

.dashboard-widget .dashboard-widget-header h1 { opacity: 0!important; transition: all 0.3s!important; }

.dashboard-widget:hover .dashboard-widget-header h1 { opacity: 1!important; }
  
.dashboard-list-wrapper .button-wrapper .add-button { background-color: transparent !important; box-shadow: none !important; }
  
.dashboard-list-wrapper .button-wrapper .add-button:hover { color: var(--colorHighlightBg); }
  
.dashboard-list-wrapper .button-wrapper .add-button[disabled] { color: var(--colorFgFadedMost); }
  
/* Date widget */ 
.Dashboard-Date .date-wrapper .day-display { color: var(--colorHighlightBg); }
  
.Dashboard-Date .date-wrapper .date-display { display: unset !important; }
  
.Dashboard-Date .date-wrapper .date-display .date { font-weight: 200 !important; color: var(--colorAccentFg); }
  
.Dashboard-Date .date-wrapper .week-display { opacity: 1 !important; font-weight: 500; }
  
.Dashboard-Date .date-wrapper .time-display { text-align: end; text-transform: lowercase; font-size: 1.6em; letter-spacing: 1px; }
  
/* Email and Feed widget */
.Dashboard .email-wrapper .unread .title-row .title, .Dashboard .email-wrapper .unread .data-row .title,
.Dashboard .feed-wrapper .unread .title-row .title, .Dashboard .feed-wrapper .unread .data-row .title { color: var(--colorHighlightBg) !important; }
  
.Dashboard .feed-wrapper .unread .subject-row .title, .Dashboard .email-wrapper .unread .subject-row .title { color: var(--colorAccentFg) !important; }
  
.Dashboard .feed-wrapper .feed-row .title-row .date, .Dashboard .email-wrapper .feed-row .title-row .date,
.Dashboard .feed-wrapper .email-item .data-row .date, .Dashboard .email-wrapper .email-item .data-row .date { opacity: 0.9 !important; font-weight: 500; }
  
/* Events Widget */
.Dashboard-TasksWidget .widget-image-intro ~ .calendar-viewport .calendar-add-event-button,
.Dashboard-CalendarWidget .widget-image-intro ~ .calendar-viewport .calendar-add-event-button { background-color: var(--colorBgDarker); color: var(--colorAccentFg); border-radius: calc(var(--radius) * 2); }
  
.Dashboard-TasksWidget .widget-image-intro ~ .calendar-viewport .calendar-add-event-button:hover,
.Dashboard-CalendarWidget .widget-image-intro ~ .calendar-viewport .calendar-add-event-button:hover { background-color: var(--colorHighlightBg); color: var(--colorAccentFg); }
  
/* Date for events and tasks */
.calendar-grid-agenda .cal-tasks-row .cal-tasks-row-date {font-size: unset !important; }
  
/* Weather widget */
.Dashboard-WeatherWidget .weather-wrapper .today-forecast-wrapper .heading.block { color: var(--colorHighlightBg) !important; font-weight: 300 !important; }
  
.Dashboard-WeatherWidget .weather-wrapper .today-forecast-wrapper .heading { font-weight: 300 !important; }
  
.Dashboard-WeatherWidget .weather-wrapper .today-forecast-wrapper .current-forecast { color: var(--colorAccentFg); }
  
.Dashboard-WeatherWidget .weather-wrapper .today-forecast-wrapper .date { display: none; }
