/*	
* Vivaldi Vertical Tab Thumbnails (updated for browser version 7.0)
* Written by sudenim	
* GNU General Public License v3.0
*
* Restyles tab thumnails and the tab container  	
*
*/

#tabs-container.left .tab-strip, #tabs-container.right .tab-strip { padding: 1px 0 !important; }

/* No title tab header */
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab > .tab-header > .title, #app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab > .tab-header > .title  { visibility: hidden; }

#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab.unread, #app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab.unread  { background-image: none; }

#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab.unread > .thumbnail-image, #app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab.unread > .thumbnail-image { -webkit-mask-image: none !important; }

#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab.unread > .tab-header::before,
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab.unread > .tab-header::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--colorHighlightBg);
  z-index: 4;
}

#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab.active, #app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab.active { opacity: 1; }

#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab > .tab-header,
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab > .tab-header {
  position: absolute;
  z-index: 1;
  width: calc(100% - 1px);
  height: 100%;
  align-items: stretch !important;
}

#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab > .tab-header > .progress-indicator, #app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab > .tab-header > .progress-indicator { border-radius: 1px; }

#browser:not(.alt-tabs) #tabs-tabbar-container.left .tab:not(.pinned):not(.tab-small).audio-on .favicon,
#browser:not(.alt-tabs) #tabs-tabbar-container.left .tab:not(.pinned):not(.tab-small).audio-muted .favicon,
#browser:not(.alt-tabs) #tabs-tabbar-container.left .tab:not(.pinned):not(.tab-small).tab-captured .favicon,
#browser:not(.alt-tabs) #tabs-tabbar-container.right .tab:not(.pinned):not(.tab-small).audio-on .favicon,
#browser:not(.alt-tabs) #tabs-tabbar-container.right .tab:not(.pinned):not(.tab-small).audio-muted .favicon,
#browser:not(.alt-tabs) #tabs-tabbar-container.right .tab:not(.pinned):not(.tab-small).tab-captured .favicon { transform: unset !important; }

.tabs-left .tab-position .tab > .tab-header, .tabs-right .tab-position .tab > .tab-header { margin: 5px -3px !important; }

#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab > .tab-header > .close,
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab > .tab-header > .tab-audio,
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab > .tab-header > .close,
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab > .tab-header > .tab-audio,
.color-behind-tabs-off .tab .stack-counter, .color-behind-tabs-off .tab.active .stack-counter {
  background-color: var(--colorAccentBg) !important;
  color: var(--colorAccentFg);
  border-radius: 25px;
  opacity: .9;
}

#browser:not(.alt-tabs) #tabs-tabbar-container.left .tab:not(.tab-mini) .close, #browser:not(.alt-tabs) #tabs-tabbar-container.left .close,
#browser:not(.alt-tabs) #tabs-tabbar-container.right .tab:not(.tab-mini) .close, #browser:not(.alt-tabs) #tabs-tabbar-container.right .close {
  position: absolute;
  margin-right: 1px !important;
  right: 0;
}

#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab > .tab-header > .close:hover,
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab > .tab-header > .tab-audio:hover,
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab > .tab-header > .close:hover,
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab > .tab-header > .tab-audio:hover {
  background-color: var(--colorHighlightBg) !important;
  fill: var(--colorAccentFg) !important;
}

.audioicon { margin-top: -1.5px; transform: scale(0.48) translateZ(0) !important; }

#app #browser:not(.stacks-substrip) #tabs-tabbar-container.left:not(.no-thumbs) .tab-position .tab > .tab-header > .tab-audio,
#app #browser:not(.stacks-substrip) #tabs-tabbar-container.right:not(.no-thumbs) .tab-position .tab > .tab-header > .tab-audio {
  margin-top: 18px;
  right: 1px;
  width: 18px;
  height: 18px;
  padding: 1.5px;
}

#app #browser:not(.stacks-substrip) #tabs-container.left:not(.no-thumbs) .tab-position .tab > .thumbnail-image,
#app #browser:not(.stacks-substrip) #tabs-container.right:not(.no-thumbs) .tab-position .tab > .thumbnail-image {
  background-color: transparent;
  border-radius: 0 !important;
  margin: 0 !important;
}

.color-behind-tabs-off .tab .stack-counter { margin-top: -132px; margin-right: 25px; padding: 1px; font-weight: 500; font-size: 1em; }
