/*
* Vivaldi Ui tweaks (updated for browser version 7.0)
* Written by sudenim
* GNU General Public License v3.0
* 
* General ui changes that include: recolouring, re-positioning, font adjustments, icon replacements
*/

/* Text selection */
::selection { background-color: var(--colorHighlightBg) !important; color: white; }

/* Fonts */
* {
  font-family: "Quicksand" !important;
  text-shadow: 0 0 .8px var(--colorFgAlpha) !important;
  letter-spacing: .1px;
}

/* Vertical Extensions Drop-Down Menu */
.extensionIconPopupMenu { --popupWidth: 280px !important; }

.extensionIconPopupMenu > .toolbar {
  max-height: 50vh;
  overflow: clip auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
.extensionIconPopupMenu .ExtensionDropdownIcon > button { justify-content: flex-start; padding: 1em; }

.extensionIconPopupMenu .ExtensionDropdownIcon > button::after {
  content: attr(title);
  overflow: clip visible;
  text-overflow: ellipsis;
}

/* Private badge */
.UrlBar-PrivateWindowIndicator {
  font-size: 0 !important;
  fill: var(--colorHighlightBg);
  padding: 0 6px !important;
}

.UrlBar-PrivateWindowIndicator svg { transform: scale(1.3); }

/* =====================================
   Toolbars and Buttons
  ===================================== */
button { box-shadow: none !important; border-color: transparent !important; }

.button-toolbar > button:hover, .button-toolbar > button:active { background-color: transparent !important; color: var(--colorHighlightBg) !important; }

.toolbar.icons button, .toolbar.text button {
  background-image: none !important;
  background-color: var(--colorBgDark) !important;
  border-color: var(--colorBg) !important;
  height: 28px !important;
  margin-top: -1px !important
}

.toolbar.icons button:hover, .toolbar.text button:hover {
  background-image: none !important;
  background-color: var(--colorHighlightBg) !important;
  height: 28px !important;
  margin-top: -1px !important
}

input[type=button], input[type=submit] { background-image: none !important; }

/* Scale up icons on hover */
button:hover>svg, button:hover>img, button:hover>span>svg { transform: scale(1.15) !important; transition: .01s ease-in-out !important; }

button:hover[title*="Show Closed Tabs"] svg { transform: unset !important; }

.color-behind-tabs-off .toolbar-mainbar { color: var(--colorFg) !important; }

.toolbar-mainbar>.button-toolbar>button { fill: var(--colorFg); transition: .5s !important; }

.toolbar-default .button-toolbar>button { background-color: var(--colorBgDark); background-image: none !important; }

.toolbar-default .button-toolbar>button:hover { background-color: var(--colorHighlightBg) !important; fill: var(--colorAccentFg) !important; color: var(--colorAccentFg) !important; }

.toolbar-default .button-toolbar>button.button-pressed { background-image: linear-gradient(var(--colorHighlightBg), var(--colorHighlightBgDark)) !important; }

.toolbar-default .button-toolbar>button.button-pressed:active { background-image: linear-gradient(var(--colorBgDark), var(--colorBgDark)) !important; }

.toolbar-mainbar>.button-toolbar>button:hover { fill: var(--colorHighlightBg) !important; color: var(--colorAccentFg); }

.toolbar-default .button-toolbar>button.button-pressed { color: var(--colorHighlightFg); fill: var(--colorHighlightFg) !important; }

._default-focus { outline: transparent !important; outline-offset: 0 !important }

.urlSearch .favicon { display: inline !important; }

.toolbar-default .button-toolbar>button.button-pressed { color: var(--colorAccentFg) !important; fill: var(--colorAccentFg) !important; }

/* Won't show horizontal menu and window buttons when no ui */
#browser.minimal-ui:not(.tabs-top) .topmenu, #browser.minimal-ui:not(.tabs-top) .window-buttongroup { display: none !important; }

/* Workspaces button tweaks when in the addressbar */
#browser .workspace-popup .button-icon:not(.override) { width: 0 !important; }

.button-toolbar > button > span.button-toolbar-menu-indicator { margin-top: 4px; }

/* Panel toggle */
.button-toolbar > button[title*="Hide Panel"] svg { fill: var(--colorHighlightBg) !important; }

/* =====================================
   Status Bar
  ===================================== */
:not(.tabs-bottom)#browser > footer:after { background-color: var(--colorBgAlphaHeavy) !important; }

#browser:not(.tabs-bottom) footer#footer {
  background: var(--colorBgAlphaBlur) !important;
  backdrop-filter: var(--backgroundBlur);
  border-top: 1px solid var(--colorBgAlphaHeavy) !important;
}

.toolbar-statusbar .toolbar-extensions .button-toolbar > button, .toolbar-statusbar > .button-toolbar > button { height: 28px !important; }

.toolbar-statusbar .button-toolbar > button:hover, .toolbar-statusbar .button-toolbar > button.button-pressed {
  background-color: transparent !important;
  fill: var(--colorHighlightBg) !important;
}
  
.toolbar-statusbar > .button-toolbar > button { padding-top: 1px !important; }
  
.toolbar-statusbar .button-toolbar > button:hover, .toolbar-statusbar .button-toolbar > button.button-pressed {
  background-color: transparent !important;
  fill: var(--colorHighlightBg) !important;
}

#webview-container ~ .StatusInfo { bottom: 1px !important; right: 4px !important; left: 4px !important; }

#webview-container ~ .StatusInfo .StatusInfo .UrlFragments, #webview-container ~ .StatusInfo .StatusInfo-Content {
  background: var(--colorBgAlphaBlur) !important;
  backdrop-filter: var(--backgroundBlur) !important;
  color: var(--colorFg) !important;
  border: 0 !important;
}

.extension-popup { transform: translateY(-4px) !important; }

.button-popup-above { bottom: 45px !important;}

.button-popup-wrapper { background-color: var(--colorBgDark); }
  
.button-toolbar > button > span + .button-title, .button-toolbar > button.button-textonly { padding-top: 2px; }

.toolbar-statusbar .button-toolbar > button > .button-badge{ position: absolute !important; right: -5px !important; }

/* Zoom controls */
.toolbar-statusbar .page-zoom-controls { margin-top: 2px; }

/* =====================================
   Tabs
  ===================================== */
/* Removes gap between Workspace button and tabs */
.tabbar-workspace-button + #tabs-tabbar-container.left, .tabbar-workspace-button + #tabs-tabbar-container.right { padding-top: unset !important; }

/* Makes the tab background consistent with the side panel */
#browser.transparent-tabbar #tabs-tabbar-container, .transparent-tabbar .button-toolbar.workspace-popup.tabbar-workspace-button { background-color: var(--colorBgAlphaBlur) !important; }

/* Close icon */
.tab-position .tab .close svg path { d: path("m4.145 3.5-.645.643 3.858 3.856-3.856 3.856.643.643L8 8.642l3.856 3.858.643-.645L8.644 8 12.5 4.143l-.643-.643-3.856 3.856Z"); }

/* New tab icon */ 
#tabs-tabbar-container .newtab svg path {
  d: path("M20.48 12.73h-5.21V7.52a.52.52 0 1 0-1.04 0v5.209H9.02a.522.522 0 0 0 0 1.042h5.209v5.208a.522.522 0 0 0 1.042 0v-5.208h5.208a.521.521 0 0 0 0-1.042Z");
}

/* Closed tabs icon */
#tabs-container > div > div.toolbar.toolbar-tabbar.sync-and-trash-container.left > div > button > span > svg > line:nth-child(3),
#tabs-container > div > div.toolbar.toolbar-tabbar.sync-and-trash-container.left > div > button > span > svg > line:nth-child(4) {display: none;}

#tabs-tabbar-container .newtab > button:hover,
#tabs-container > div > div.toolbar.toolbar-tabbar.sync-and-trash-container.left > div > button:hover { color: var(--colorHighlightBg); }

.tabs-top:not(.mac).color-behind-tabs-on #tabs-container, .tabs-top.mac.hasfocus.color-behind-tabs-on #tabs-container { background-image: none !important; }

#browser:not(.alt-tabs) #tabs-container .tab:not(.tab-mini) .close { margin-right: 2px !important; }

/* Reduces the colour of background tabs */
.tab-position .tab.tab.tab:not(.active) { filter: grayscale(100%) brightness(70%); }

.tab-position .tab.tab.tab:not(.active):hover { filter: grayscale(0%) brightness(100%); }

.tab-position .tab .progress-indicator, .tab-group-indicator .tab-indicator.active, .tab-group-indicator .tab-indicator:hover:not(.active) {
  background-color: var(--colorHighlightBg) !important;
  height: 1px !important
}

.tab-group-indicator .tab-indicator { background-color: var(--colorHighlightBgAlpha) !important; }

.tabs-left .tab-position .tab, .tabs-right .tab-position .tab { margin: 0 !important; border-radius: 0 !important; }

/* =====================================
   Side Panel
  ===================================== */
.panel > header h1 > span:first-child { margin: 0 auto; }

#panels-container.icons, #panels-container.overlay, #panels, #switch, .toolbar-panel, .toolbar-panel .button-toolbar { width: 34px !important; }

#switch { flex: 0 0 34px !important; max-width: 34px !important; padding-top: 0 !important; }

#switch button { border-radius: 0 !important; transition: .5s !important; }

#switch > .button-toolbar.active:not(:focus), #switch > * > .button-toolbar.active:not(:focus), #switch > button.active:not(:focus), #switch .addwebpanel-wrapper > button.active:not(:focus) {
  color: var(--colorHighlightBg);
  box-shadow: none !important;
}

#switch > .button-toolbar.active, #switch > * > .button-toolbar.active, #switch > button.active, #switch .addwebpanel-wrapper > button.active {
  background-color: transparent !important;
  color: var(--colorHighlightBg);
  border-radius: 0 !important;
}

#switch .addwebpanel-wrapper>button.downloads.in-progress div.progress, #switch>button.downloads.in-progress div.progress {
  background-color: var(--colorHighlightBg);
  border: 1px solid var(--colorHighlightBg)
}

/* Download panel fixes */
.panel.downloads .panel-pathfield .actionbuttons, .popout.downloads-popout .panel-pathfield .actionbuttons { margin-top: 2px !important; }

.panel .SlideBar--FullWidth.alternate { top: unset !important; }

/* Hides bottom pane */
.panel.downloads .download-editor { display: none !important; }

/* Download progress bar */
.button-toolbar div.progress {
  background-color: var(--colorAccentBg) !important;
  top: 23px;
  height: 2px;
  border: none !important;
  border-radius: 1px !important;
}

.button-toolbar div.progress div.loaded { background-color: var(--colorHighlightBg) !important; height: 2px !important; }

/* Hides webpanel suggestions */
.webpanel-suggestions { display: none; }

.transparent { display: none; }

/* Manger views */
.manager { backdrop-filter: var(--backgroundBlur); }

.manager .manager-content, .manager>.toolbar, .internal-page .manager-editor { background-color: var(--colorBgAlphaBlur) !important; }

.tree-row.folder { font-weight: 700; }

.sortselector, .NotesManager--Vertical .NotesManager-Tree:not(.NotesManager-Tree--Collapsed) { border-color: var(--colorBgDarker) !important; }

#panels .webpanel-stack .webpanel .webpanel-header { padding-top: 12px; }

/* =====================================
   Notes Manager
  ===================================== */
.NotesManager { opacity: .95; }

.NotesManager-Tree>.toolbar { background-color: var(--colorBg); margin: unset !important; padding: 6px; }

.NotesManager-Buttons { background-color: var(--colorBg); border-bottom: 1px solid var(--colorBgDarker); }

.MarkdownRender p, .MarkdownRender ul, .MarkdownRender ol, .MarkdownRender dl, .MarkdownRender table, .MarkdownRender pre, .MarkdownRender blockquote, body[contenteditable="plaintext-only"] { line-height: 1.4em; }

.NotesManager-Note { background-color: var(--colorBgAlphaBlur) !important; }

.NotesManager-EmptyPlaceholder:hover { outline: unset !important; }

.NotesManager-Footer {
  background-color: var(--colorBgAlphaBlur) !important;
  justify-content: center;
  align-items: center;
  height: 30px;
  bottom: 4px;
  opacity: 1 !important;

}

.NotesManager-WordCount {
  background-color: var(--colorHighlightBg);
  color: var(--colorAccentFg);
  padding: 10px 25px;
  border-radius: var(--radius);
}

/* =====================================
   Calendar
  ===================================== */
.manager .manager-view { opacity: .95; background-image: var(--backgroundBlur); font-size: 1.1em; }

.calendar.manager > .toolbar h1 { font-weight: 400 !important; font-size: 1.5rem !important; color: var(--colorHighlightBg); }

.calendar-multiweek-date.current .day {
  background-color: var(--colorHighlightBg) !important;
  font-size: 1.1em;
  font-weight: 500 !important;
  margin-top: -3px;
  border-radius: calc(var(--radius) * 2);
}

.calendar-event .cal-event-header .cal-event-time, .calendar-event .cal-event-header .cal-event-title { font-weight: 400 !important; font-size: 1.15em; }

.calendar-event .cal-event-header .cal-event-title { margin-left: 10px; }

.calendar-grid-days .calendar-drop-target .day.current { color: var(--colorAccentFg) !important; }

/* =====================================
   Mail
  ===================================== */
.MailSearchField-Inner { background-color: transparent !important; border: 0 !important; }

.webpageview #mail_view #mail_detail .mail-detail-header .subject { color: var(--colorFgIntense) !important; }

/* =====================================
   Settings panel/window
  ===================================== */
.vivaldi-settings .settings-sidebar .settings-navigation { min-width: 200px !important; }

.ContentBlocker { max-width: 1000px; }

.colorpicker .colorpicker-plot .colorpicker-plot-reticle {
  position: relative !important;
  z-index: 1 !important;
  top: -10px !important;
  left: -5px !important;
  height: 10px !important;
  width: 10px !important;
  padding: 0 !important;
  border-radius: 50% !important;
  border: 1px solid hsl(0, 0%, 0%) !important;
  box-shadow: 0 0 0 1px #fff !important;
  background-color: hsla(0, 0%, 0%, 0) !important;
}

.info { font-size: 12px !important; color: var(--colorFgFaded) !important; }

.vivaldi-settings .settings-sidebar .button-category { height: 32px; }

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row .button-category.category-selected {
  color: var(--colorHighlightBg);
  background-color: var(--colorBgLightIntense) !important;
  border-top: 1px solid var(--colorBorder);
  border-left: 1px solid var(--colorBorder);
  border-bottom: 1px solid var(--colorBorder);
}
  /* Settings icons */
.vivaldi-settings .settings-sidebar .button-category svg { stroke: var(--colorHighlightBg) !important; fill: transparent !important; }

.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row .button-category.category-selected svg { stroke: var(--colorHighlightBg) !important; }

/* Removes schedule timeline size limit */
.theme-schedule-timeline { max-width: unset !important; }

/* Expands themes layout */
.TabbedView { max-width: unset !important; }

/* Theme timeline indicator */
.theme-schedule-timeline .theme-schedule-now-indicator { color: var(--colorHighlightBg) !important; }

.theme-schedule-timeline .theme-schedule-now-indicator:after { background-color: var(--colorHighlightBg); }

/* Schedule label */
.ThemePreview-Label-Meta>span { color: var(--colorHighlightBg); }

.ThemePreview-Label-Meta { opacity: .8 !important; }

/* =====================================
   Miscellaneous stuff
  ===================================== */

/* Alternating row colours for lists */
.vivaldi-tree div>div:nth-child(even) { background-color: var(--colorBgAlphaHeavy); }
.webpageview #mail_view.vertical .mail_entry .from, .webpageview #mail_view.vertical .mail_entry .mail_entry_row.subject_row { background-color: unset; }

/* Quick command */
.quick-command-container { box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6) !important; }

.quick-command-container, .quick-command-container .quick-commands>div { min-width: 40vw; cursor: auto; }

.quick-command-container .quick-commands>div>div { max-width: 100% !important; }

.quick-command-container .quick-command { cursor: pointer; }

/* Rounds fav icons in lists */
.vivaldi-tree .tree-row label>img, .vivaldi-tree .tree-row label .tree-row-image { border-radius: 50% !important; }

/* New tab link marker */
a[target="_blank"]:hover { outline: dotted 1.5px !important; }

/* Check boxes and radio buttons */
.theme-dark input[type=radio], .theme-dark input[type=checkbox] {background-image: none !important; }

input[type=radio], input[type=checkbox] { background-color: var(--colorBgIntense) !important; }

input[type=checkbox]:before, input[type=checkbox]:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colorHighlightBg);
  transform-origin: 0 0;
  transition: transform 0ms linear 0ms;
}

input[type=checkbox]:checked:before {
  transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0.4);
  transition-duration: 33.33333333ms;
}

input[type=checkbox]:checked:after {
  transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(1.2);
  transition-duration: 100ms;
  transition-delay: 33.33333333ms;
}

input[type=radio]:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  transition: transform 50ms linear;
  border-radius: var(--radiusRound);
  background-color: var(--colorHighlightBg);
  transform: scale(0);
}

input[type=radio]:checked:before { transition-timing-function: cubic-bezier(0, 0, 0.3, 1.5); transition-duration: 100ms; transform: scale(1); }

input[type=radio]:checked { box-shadow: none !important; border-width: 1px !important; }

/* UI Scrollbars */
::-webkit-scrollbar { background-color: transparent !important; border: 0 !important; width: 12px !important; padding: 0 2px; }

::-webkit-scrollbar-track { background-color: transparent !important; border: 0 !important; }

::-webkit-scrollbar-thumb { background-color: var(--colorFgAlpha) !important; border: 4px solid transparent !important; border-radius: 8px; }

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active { background-color: var(--colorHighlightBg) !important; }

::-webkit-scrollbar-button { display: none !important; }

/* Slider */
input[type=range] { background-color: var(--colorHighlightBg); height: 1px !important; }

input[type=range]::-webkit-slider-thumb { width: 12px !important; height: 12px !important; border: 1px solid var(--colorFgIntense) !important; }

input[type=range]::-webkit-slider-thumb:hover { border-color: var(--colorHighlightBg) !important; }

input[type=range]::-webkit-slider-thumb:active { background: linear-gradient(var(--colorBg), var(--colorBgDarker)); }

input[type=range].isblurred::-webkit-slider-thumb, input[type=range][disabled]::-webkit-slider-thumb { opacity: 0.7 !important; }

input[type=range]:focus-visible::-webkit-slider-thumb { outline: 2px solid var(--colorHighlightBg); outline-offset: -1px; border-color: var(--colorHighlightBg); }

#browser > footer .page-zoom-controls > .button-toolbar > button:not(:disabled) { color: var(--colorHighlightFg); }

#browser > footer .page-zoom-controls > .button-toolbar > button:not(:disabled):hover { color: var(--colorHighlightBg); }

/* =====================================
   Hiding stuff
  ===================================== */
.color-behind-tabs-on .addressfield:focus-within,
.color-behind-tabs-on .searchfield:focus-within,
.UrlBar-AddressField:focus-within,
.searchfield:focus-within,
.toolbar.icons input[type=search] {
  box-shadow: none !important
}

.tab-strip .thumbnail-image > svg,
button.fip-previous,
button.fip-next,
button.fip-close,
input::-webkit-search-cancel-button {
  display: none !important
}

#fip-input-text::-webkit-search-cancel-button { appearance: none !important; }

.cb-image svg .bookmark-shadow, .thumbnail-image svg .bookmark-shadow { fill: transparent !important; }

/* Hides dropdown arrow for history in the address field */
.button-toolbar>button[title="Show typed history"], .button-toolbar>button[title="Enter an address to activate typed history"] { display: none !important; }
