/*	
* Vertical Air (11/20/25)
* For Vivaldi browser version 7.8 and up
* By sudenim	
*
* Description: Adds spacing to all elements as well as some transparency with a blur effect.	
*
* GNU General Public License v3.0	
*/

/* Sets the amount of "air" */
:root { --air: 2px; }

/* Window */
#main:not(.fullscreen) { margin: var(--air); }

/* Webpage */
#browser:not(.fullscreen) #webpage-stack { margin: 0 var(--air) 0 var(--air); }

/* Address Bar */
.address-top .mainbar { margin-bottom: var(--air); }

.address-bottom .mainbar { margin-top: var(--air); }

.mainbar { --transparency: transparent 8%; background-color: color-mix(in srgb, var(--colorAccentBg), var(--transparency)) !important; }

#browser.win.address-top .toolbar:has(.window-buttongroup.on-mainbar) { backdrop-filter: var(--backgroundBlur); }

/* Status Bar */
#browser:not(.tabs-bottom) footer#footer { border-top: 0 !important; margin: 0 var(--air) var(--air); background: var(--colorBgAlphaBlur) !important; backdrop-filter: var(--backgroundBlur); }

/* Tab Bar */
#browser.transparent-tabbar #tabs-tabbar-container.left, #browser.transparent-tabbar #tabs-tabbar-container.right,
#browser:not(.transparent-tabbar) #tabs-tabbar-container, .transparent-tabbar .button-toolbar.workspace-popup.tabbar-workspace-button { background-color: var(--colorBgAlphaBlur) !important; backdrop-filter: var(--backgroundBlur); }

.tabs-left .tabbar-wrapper, .tabs-right .tabbar-wrapper { background-color: unset !important; }

#browser.transparent-tabbar #tabs-tabbar-container.left #tabs-container, #browser.transparent-tabbar #tabs-tabbar-container.right #tabs-container { backdrop-filter: unset !important; }
